
.my-account-title{color:#999}


.login-bg{
  background: url('/modules/core/client/img/assets/bg.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
 // / background-size: 100% 100%;
  min-height:1000px
}






.signup{
  background-color: rgba(256,256,256,0.4);
  padding:2em 4em; 

  .form-control{
    //padding:20px;
    font-size:1.6em;
    height:50px!important;
    background-color:transparent;
    border:1px solid #333;
  }
 .has-error .form-control {
      border-color: #a94442;
 }

  .has-feedback label ~ .form-control-feedback {
    top: 33px!important;
  }

}



.signin{
  background-color: rgba(256,256,256,0.4);
  padding:2em 4em; 

  .form-control{
    //padding:20px;
    font-size:1.6em;
    height:50px!important;

  }


  .has-feedback label ~ .form-control-feedback {
    top: 33px!important;
  }

}


@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}

.settings-view{}

.ns-container-settings{background-color:#f5f5f5;}

  
  .nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
  }

  .nav-pills{
    li {
      //border:1px solid #ddd;
      a{color:#999;background-color:#ffffff}}
    li.active, a:hover,  a:focus{
       a{
        color: #4c7ed3 !important;
        background-color: white!important;//#4c7ed3!important;
       }
       
    }
    li.active:hover{
       a{
        color: #4c7ed3 !important;
        background-color: white!important;//#4c7ed3!important;
       }
    }
    
  }  

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
  }


  
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  min-width:230px;
  padding:1.4em 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}

.ns-list-group{padding:1em 0.2em}
.ns-pd-top-20{padding-top:20px}
.ns-up{text-transform:uppercase}
.ns-feedback{padding-top:8px;font-size:20px}


.ns-list-group.account {
    border: 1px solid white;
    margin-top: 4px;
}
.ns-list-group.account.isFirst{
  margin-top:0
}
.ns-cart-header.account {
    border: 1px solid white;
   // margin-top: 4px;
}


.is-updating{opacity:0.7; *{color:#ddd}}

p.ns-p {
    margin: 0 0 1px;
}


.has-success{
  *{color:green!important}
  .form-control{border-color:green;color:green}
}




.card {
    padding-top: 20px;
    margin: 0px 0 20px 0;
    background-color: #e8ecf0; //*rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}




.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    //text-align: center;
   // background-color: #f5f5f5;
    .cardheader {

     // background:url(http://f.fwallpapers.com/images/beautiful-nature-554.jpg);
     // background-size: cover;
/* IE10+ */ 
// background-image: -ms-linear-gradient(top, #FFFFFF 0%, #f5f5f5 100%);

// /* Mozilla Firefox */ 
// background-image: -moz-linear-gradient(top, #FFFFFF 0%, #f5f5f5 100%);

// /* Opera */ 
// background-image: -o-linear-gradient(top, #FFFFFF 0%, #f5f5f5 100%);

// /* Webkit (Safari/Chrome 10) */ 
// background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #f5f5f5));

// /* Webkit (Chrome 11+) */ 
// background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #f5f5f5 100%);

// /* W3C Markup */ 
// background-image: linear-gradient(to bottom, #FFFFFF 0%, #f5f5f5 100%);
      background-color: #999;//#4c7ed3 ;
      height: 40px;
    //    -webkit-filter: blur(25px);
    // -moz-filter: blur(25px);
    // -o-filter: blur(25px);
    // -ms-filter: blur(25px);
    // filter: blur(25px);
  }
}



.card.hovercard .avatar {
    position: relative;
    top: -25px;
    margin-bottom: -25px;
}

.card.hovercard .avatar img {
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

@import url('../directives/services-banner/services-banner.less');
