

<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController" ng-if="$state.current.name.split('.')[0]!=='authentication'" >
    <div class="navbar-inverse ns-nav">
        <div class="container-fluid">
        <div class="row" >
        <div class="col-md-8 col-md-offset-2">
            <!-- Logo -->
                <div class="col-md-4 col-md-offset-4  hidden-xs" style="padding-top:4px">
                    <div class=" text-center">
                        <a href="/" class="nic" style="color:black;"><b>Nicholas &amp; Sons</b></a>
                    </div> 
                </div>
                <!-- Shopping Cart List -->
                <div class="col-md-1 col-md-offset-2" style="padding-right:0;padding-top:0px">
                        <div class="pull-right" style="height:34px;padding-left:20px;padding-top:4px">
                            <ns-cart></ns-cart> 
                        </div>
                </div>
                 <div class="col-md-1" style="padding-left:0;padding-top:0px;">        
                        <div style="height:34px;padding-right:0;padding-top:5px">
                        <div class="pull-right">
                            <div class="dropdown user" uib-dropdown>
                            <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                             <img src="/modules/core/client/img/assets/user.png" style="height:25px;opacity:0.4"/>
                                <!-- <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" /> -->
                            </a>
                            <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                <li ui-sref-active="active">
                                    <a ui-sref="settings.dashboard" ng-show="authentication.user">My Account</a>
                                </li>
                                <li ui-sref-active="active" ng-show="authentication.user">
                                    <a ui-sref="cart.view({cartId:authentication.user.cart})">Shopping Bag</a>
                                </li>
                                <li ui-sref-active="active" ng-show="!authentication.user">
                                    <a ui-sref="cart.guest">Shopping Bag</a>
                                </li>
                               
                                <li class="divider"></li>
                                <li>
                                    <a href="/api/auth/signout" target="_self" ng-show="authentication.user">Signout</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="authentication.signup" ng-hide="authentication.user">Register</a>
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="authentication.signin"  ng-hide="authentication.user">Log In</a>
                                </li>
                            </ul>
                            </div>
                    </div>
                </div>

                <!-- End Shopping Cart List -->
            </div>
        </div>
        </div>
     </div>

    <div class="container-fluid col-md-4 col-md-offset-4">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand visible-xs"><span class="nic">Nicholas & Sons</span></a>
        </div>
        <div uib-collapse="isCollapsed" class="navbar-collapse" id="navbar-main">
            <!-- ADMIN -->
            <ul class="nav navbar-nav ">
                <li ng-repeat="item in nav.menu" ui-sref-active="active">
                    <a ui-sref="{{item.state}}">{{item.title}}</a>
                </li>
                <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
            </ul>
             <!-- MENU -->
            <ul class="nav nav-justified ">
                <li  ui-sref-active="active"><a href="/products/men/yatching">MEN</a></li>
                <li  ui-sref-active="active"><a href="/products/women/rorscharch">WOMEN</a></li>
                <li  ui-sref-active="active"><a ui-sref="products.stockist">STOCKIST</a></li>
                <li  ui-sref-active="active"><a ui-sref="products.list">SHOP</a></li>
                <li ng-show="hasRole('admin')" ui-sref-active="active"><a ui-sref="admin.dashboard">Admin</a></li>
                <li  ui-sref-active="active" ng-show="authentication.user" class="visible-xs">
                    <a ui-sref="settings.dashboard">
                    <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                    {{authentication.user.displayName}}</a>
                </li>
                <li ui-sref-active="active" class="visible-xs">
                    <a ui-sref="settings.dashboard">My Account</a>
                </li>
                <li ui-sref-active="active" class="visible-xs">
                    <a ui-sref="cart.view({cartId:authentication.user.cart})">Cart</a>
                </li>
                <li class="divider" class="visible-xs"></li>
                <li class="visible-xs">
                    <a href="/api/auth/signout" target="_self">Signout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
