

.navbar{
	background: #fff;
	//margin-bottom: 60px;
	border-color: #f1f1f1;
    
    
    .ns-nav{
        background-color:#F5F5F5;
        //a{color:#333333!important;text-decoration:none}
    }
    
    .well {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 0;
    padding-top: 20px;
    border: 0;
    background: transparent;
}

.btn-group-cart, .btn-group-cart .btn {
    width: 100%;
}
.btn-group-cart .btn {
    text-align: center;
}
   .btn-group-cart .icon-cart {
    margin-right: 5px;
} 
    
}

header{
	padding-top: 10px;
	background: #f1f1f1;
}
header .well{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	padding: 0;
	padding-top: 20px;
	border: 0;
	background: transparent;
}
header .logo{
	padding: 0;
}
header .logo a{
	color: #333;
	font-size: 35px;
	font-family: 'Source Sans Pro', sans-serif;
}
header .logo a span{
	color: #428bca;
}
header .logo a:hover{
	text-decoration: none;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}

.input-search{
	position: relative;
	z-index: 1;
}





@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 17px;
		padding-bottom: 17px;
	}
}
.navbar li a{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #384248;
	-ms-transition: all 100ms ease-in-out 0s ;
	-moz-transition: all 100ms ease-in-out 0s ;
	-webkit-transition: all 100ms ease-in-out 0s ;
	-o-transition: all 100ms ease-in-out 0s ;
	transition: all 100ms ease-in-out 0s ;
}
.navbar li a:hover, .navbar li a.active{
    color:#ffffff!important;
	background-color: #4c7ed3!important;
}
.navbar li.nav-dropdown .caret{
	border-top-color: #fff;
	border-bottom-color: #fff;
}
@media (min-width: 768px) {
	.navbar li.nav-dropdown ul li a{
		font-family: Arial;
		font-size: 15px;
		color: #333!important;
		text-transform: inherit;
	}
	.navbar li.nav-dropdown ul li a:hover{
		background-color: #f1f1f1!important;
	}
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #4c7ed3 !important;
}


.user:hover>.dropdown-menu {
  display: block;
}


