 <ul class="nav nav-pills nav-stacked" style="font-size:1.4em">
    <li ui-sref-active="active">
    <a ui-sref="settings.profile">Edit Profile <span class="pull-right"><i class="fa fa-user"></i></span></a>
    </li>
    <!--<li ui-sref-active="active">
    <a ui-sref="settings.picture">Change Profile Picture <span class="pull-right"><i class="fa fa-lock"></i></span></a>
    </li>-->
    <li ui-sref-active="active" ng-show="user.provider === 'local'">
    <a ui-sref="settings.password">Change Password <span class="pull-right" ><i class="fa fa-lock"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="settings.address">Delivery Address <span class="pull-right"><i class="fa fa-map-marker"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="settings.orders">Orders <span class="pull-right"><i class="fa fa-th-list"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="settings.wishlist">Wish List <span class="pull-right"><i class="fa fa-heart"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="settings.watchlist">Watch List <span class="pull-right"><i class="fa fa-eye"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="settings.contact">Contact Us <span class="pull-right"><i class="fa fa-comment"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="cart.view({cartId:user.cart})">Shopping Bag <span class="pull-right"><i class="fa fa-shopping-bag"></i></span></a>
    </li>
</ul>