<section>

<div class="col-xs-12 col-md-4 col-lg-4 col-md-offset-2">
    <shopping-bag-resume cart="vm.cart" total-price="vm.totalPrice" total-products="vm.totalProducts"></shopping-bag-resume>
    <user-address address="vm.authentication.user.address[0]" is-address-collapsed="'true'" is-address-confirmed="vm.isConfirmed"></user-address>
</div>	

<div class="col-xs-12 col-md-4  ">
     
    <div class="panel panel-default credit-card-box">
                <div class="panel-heading " style="background-color:white" >
                    <h3 class="text-muted" ng-click="isPaymentCollapsed = !isPaymentCollapsed">
                        <span ng-if="vm.isConfirmed " >
                            <i class="fa fa fa-check-circle"></i> 
                        </span>
                        <strong>PAYMENT DETAILS</strong>
                        <span class="pull-right" >
                           <i class="fa fa-chevron-down" ng-if="!isPaymentCollapsed"></i>
                           <i class="fa fa-chevron-right" ng-if="isPaymentCollapsed"></i>
                         
                         </span> 
                    </h3>
                </div>
                <div class="panel-body" uib-collapse="isPaymentCollapsed">
                    <form name="paymentForm" class="checkout-form" stripe-form="handleStripe" novalidate>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                      <label class="control-label" for="amount">AMOUNT TO CHARGE</label>
                                      <p class="lead text-primary" ng-click="showOverlay()"> 
                                      
                                       {{vm.totalPrice | number:2}} GBP</p>  
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" show-errors 
                                ng-class="{'has-success':paymentForm.number.$valid,'has-error':!paymentForm.number.$valid && paymentForm.number.$dirty}">
                                    <label class="control-label" for="number">CARD NUMBER</label>
                                    <div class="input-group">
                                     <input type="text" class="form-control" name="number" placeholder="4242 4242 4242 4242"
                                            ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" 
                                            ng-class="paymentForm.number.$card.type" required/>
                                        
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                    
                                    <div ng-messages="paymentForm.number.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Card number is required.</p>
                                        <p class="help-block error-text" ng-message="card">Enter a valid card number.</p>
                                    </div>
                                   
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-5">
                                <div class="form-group" show-errors  ng-class="{'has-success':paymentForm.expiry.$valid,'has-error':!paymentForm.expiry.$valid && paymentForm.expiry.$dirty}">
                                    <label class="control-label" for="expiry"><span class="hidden-xs">EXPIRATION</span></label>
                                    <input  placeholder="MM/YY" type="text" class="form-control" name="expiry"
                                        ng-model="expiry" payments-validate="expiry" payments-format="expiry" required />
                                   
                                    <div ng-messages="paymentForm.expiry.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Exp. date is required.</p>
                                        <p class="help-block error-text" ng-message="expiry">Enter a valid Exp. date.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5">
                                <div class="form-group" show-errors  ng-class="{'has-success':paymentForm.cvc.$valid,'has-error':!paymentForm.cvc.$valid && paymentForm.cvc.$dirty}">
                                    <label class="control-label" for="cvc">CV CODE</label>
                                    <input type="text" class="form-control" placeholder="555" name="cvc"
                                        ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"
                                        required
                                    />
                                    
                                    <div ng-messages="paymentForm.cvc.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Cvc code is required.</p>
                                        <p class="help-block error-text" ng-message="cvc">Enter a valid cvc code.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1 p-h-0" style="padding-top:10px">
                                  <label class="control-label" for="cvc">&nbsp;</label>
                                <img src="/modules/core/client/img/brand/cvc.jpg" style="height:30px;vertical-align:bottom"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                 <span class="pull-right" >
                                   <!--   <img src="/modules/core/client/img/brand/secure.png" style="height:28px;margin-top:4px"/> -->                             

                                    </span>
                                   <!--  <span class="pull-right" >
                                        <img class="img-responsive" style="height:25px"  src="http://i76.imgup.net/accepted_c22e0.png">

                                    </span> -->
                                </div>
                            </div>                        
                        </div>
                        <p>&nbsp;</p>
                        <div clas="row">
                            <div class="">
                                 <div class="form-group">
                                    <button type="submit" class="btn btn-block  btn-lg ns-next" ng-disabled="!paymentForm.$valid" ng-click="vm.processingPayment=!vm.processingPayment;" >
                                    PLACE ORDER</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
    </div> 

</div>

<div class="col-lg-10 col-lg-offset-1 hidden-xs">
	<a href="/products" class="btn btn-default btn-lg ns-shop-btn" ng-click=""><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;CONTINUE SHOPPING</a>
        
        <br/>
    </div>

</section>
