<section >

  <div class="veil dark" ng-if="vm.processingPayment">
    <span us-spinner="{radius:40, width:10, length:25,color:'white'}" spinner-on="vm.processingPayment"></span>
  </div>

<!-- <div class="col-lg-10 col-lg-offset-1 text-center" style="">

<button type="button" class="btn btn-default btn-lg " ui-sref="checkout.step1" 
    ng-class="{'ns-complete':vm.isConfirmed,'ns-shop-btn':!vm.isConfirmed}" ng-disabled="!vm.isConfirmed">
    <span ng-if="!vm.isConfirmed">1.</span>
    <i class="fa fa-check-circle" ng-if="vm.isConfirmed"></i>
    &nbsp;&nbsp;DELIVERY ADDRESS

</button>
    &nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;

<button type="button" class="btn btn-default btn-lg " 
 ng-class="{'ns-complete':vm.isPayed,'ns-shop-btn':!vm.isPayed}" ui-sref="checkout.step2" ng-disabled="!vm.isConfirmed">
    <span ng-if="!vm.isPayed">2.</span>
    <i class="fa fa-check-circle" ng-if="vm.isPayed"></i>
    &nbsp;&nbsp;PAYMENT DETAILS 
</button>

    &nbsp;&nbsp; <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;

<button type="button" class="btn btn-default btn-lg " ng-class="{'ns-complete':vm.isPayed,'ns-shop-btn':!vm.isPayed}"  ng-disabled="!vm.isPayed">
    <span ng-if="!vm.isPayed">3.</span>
    <i class="fa fa-check-circle" ng-if="vm.isPayed"></i>
  &nbsp;&nbsp;ORDER CONFIRMATION
</button>


</div> -->
<div class="col-lg-10 col-lg-offset-1">
 
</div>

  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">

      <!-- <hr/> -->
      <h1 class="text-center text-muted ns-up" ng-class="{'green':vm.isPayed}">
        CHECKOUT <span ng-if="vm.isPayed">Success - your order is confirmed!</span>
      </h1>
      <h2 class="text-muted text-center">{{$state.current.title}}</h2>
      <br/>
      <div ui-view></div>
      <div class="clearfix"></div>
        
      <hr/>
    </div>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <h3 class="text-center">
     <a href="https://stripe.com/" target="_blank">   <img src="/modules/core/client/img/brand/outline@2x.png" /> </a>
     <!-- <a href="https://comodo.com/" target="_blank">   <img src="/modules/core/client/img/brand/comodo.png" /> </a> -->
     <br/><br/>
      <!-- <a href="https://comodo.com/" target="_blank" >   <img src="/modules/core/client/img/brand/cards.png"/> </a> -->

<a href="#">
            <img src="/modules/core/client/img/brand/comodo-ssl.png" style="height:40px;vertical-align:bottom"/>
          </a>
      
    </h3>
</div>
<!-- <div class="navbar-default text-center comodo">
          
          <a href="#">
            <img src="/modules/core/client/img/brand/comodo-ssl.png" style="height:40px;vertical-align:bottom"/>
          </a>
        </div> -->
</section>
