<section style="">
<div class="col-xs-12 col-md-6 col-md-offset-3 ">

		
	</div>



<div class="container" >
      
       <!--  <div class="col-lg-12">
        background-color:#f1f1f1
          <h4><b>Product Name</b></h4>
		<hr/> -->



    <div class="row">
    	<div class="col-md-6 col-md-offset-3" style="border:1px solid #ddd;">  
		<h2 class="text-center text-muted">
        <a href="/orders">    
        Order number: #{{vm.order._id | limitTo:5}}
        </a>
        </h2>
		
        <hr />  
		<!-- </div>
        <div class="col-md-6 col-md-offset-3"> -->
    		<div class="col-md-12">
    			<div class="col-xs-6">
        			<address>
    				<strong>Shipping Address:</strong><br>
                       <span style="text-transform:capitalize"> {{vm.authentication.user.displayName}}</span><br>
                        {{vm.order.shippingAddress[0].addressLine1}}<br>
                        {{vm.order.shippingAddress[0].addressLine2}}<br>
    					{{vm.order.shippingAddress[0].region}}<br>
    					{{vm.order.shippingAddress[0].city}}<br>
    					{{vm.order.shippingAddress[0].postalCode}}<br>
    					{{vm.order.shippingAddress[0].country}}
    				</address>

    			</div>
    			<div class="col-xs-6 text-right">
                <h1><span class="glyphicon glyphicon glyphicon-cloud-download" aria-hidden="true"></span></h1>
    			</div>
    		</div>
    	<!-- </div>
    	<div class="clearfix">&nbsp;</div> 
    	<div class="col-md-6 col-md-offset-3"> -->
    		<!-- <div class="panel panel-default" style="background-color:#ffffff	">
    			<div class="panel-heading ns-heading">
    				<h3>Order number: #243735374</h3>
    			</div> -->
    			<div class="col-md-12">
    				<div class="col-md-12 table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Product Name</strong></td>
        							<td class="text-right"><strong>Quantity</strong></td>
            						<td class="text-right"><strong>Price</strong></td>
                                    
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->linetems as $line) or some such thing here -->
    							<tr ng-repeat="item in vm.cart.products track by $index">
    								<td >{{item.product.name}}</td>
									<td class="text-right">{{item.qty}} </td>
									<td class="text-right">£{{item.product.price.value}}</td>
    								
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line text-right"><strong>VAT - 12%</strong></td>
    								<td class="thick-line text-right">incl.</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								
    								<td class="no-line text-right"><strong>Shipping</strong></td>
    								<td class="no-line text-right">incl.</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line text-right"><strong>Total</strong></td>
    								<td class="no-line text-right">£{{vm.totalPrice || '0'}}</td>
    							</tr>
    						</tbody>
    					</table>
    					<p class="text-right text-muted">
    						<small>
    							order created : 35 May,2017	
    						</small>
    					</p>
    				</div>
    		</div>
    	<!-- </div> -->
    </div>
    </div>

</div>

    </div>

     <div class="col-lg-10 col-lg-offset-1 ">
      	<br/>
        <button type="button" class="btn btn-default btn-lg ns-shop-btn" ui-sref="products.list"> 
       	CONTINUE SHOPPING </button>
       	<button type="button" class="btn btn-default btn-lg pull-right" ui-sref="settings.orders"> 
       	MY ORDERS </button>
        <br/>
    </div>
<!-- <div class="col-lg-10 col-lg-offset-1 hidden-xs">
	<a href="/checkout/step1" class="btn btn-default red btn-lg ns-shop" ng-click=""><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;BACK</a>
        <button type="button" class="btn pull-right btn-lg ns-next" ng-disabled="!vm.isConfirmed" ui-sref="checkout.step2">
         PLACE ORDER&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
        <br/>
    </div> -->

</section>

