<section>



    <div class="col-xs-12 col-md-4 col-md-offset-2 " ng-if="vm.authentication.user.address.length>0">
    
        <shopping-bag-resume cart="vm.cart" total-price="vm.totalPrice" total-products="vm.totalProducts"></shopping-bag-resume>
    </div>
     <div class="col-xs-12 col-md-4" ng-if="vm.authentication.user.address.length>0">    


        <user-address address="vm.authentication.user.address[0]" is-address-confirmed="vm.isConfirmed"></user-address>

        <!-- <p class="text-center ">
            <span ng-if="!vm.isConfirmed" class="">
                click here to confirm your delivery address 
            </span>
            <span ng-if="vm.isConfirmed" class="">&nbsp;</span>
        </p> -->
        
        <p class="text-center">
	        <a class="text-center btn btn-default btn-block" 
             ng-class="{'ns-next':vm.isConfirmed,'ns-shop-btn':!vm.isConfirmed}" href ng-click="vm.toggleComfirmAddress()">
            	<span class="">
            		<i class="fa fa-check fa-2x"></i> 
                    <span ng-if="!vm.isConfirmed" class="">
                        click here to confirm your delivery address 
                    </span>
            	</span>
	        </a>	
	    </p>
    </div>
 
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
	<div class="col-lg-10 col-lg-offset-1 ">
	<a href="products" class="btn btn-default btn-lg ns-shop-btn" ng-click="">
        <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;CONTINUE SHOPPING</a>
        <button type="button" class="btn pull-right btn-lg ns-next" ng-disabled="!vm.isConfirmed" ui-sref="checkout.step2">
         NEXT STEP&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
        <br/>
    </div>
</section>
