{% extends 'layout.server.view.html' %}

{% block content %}
<div class="">
      <div class="container">
            <div class="page-header">
              <h1>Page Not Found</h1>
            </div>
            <div class="col-md-12">
             <div class="alert " role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{url}} is not a valid path.
              </div>
            </div>
      </div>
</div> 
{% endblock %}
