﻿<!DOCTYPE html>
<!--
      .o.       ooooooooo.   oooooooooooo  .oooooo..o 
     .888.      `888   `Y88. `888'     `8 d8P'    `Y8 
    .8"888.      888   .d88'  888         Y88bo.      
   .8' `888.     888ooo88P'   888oooo8     `"Y8888o.  
  .88ooo8888.    888`88b.     888    "         `"Y88b 
 .8'     `888.   888  `88b.   888         oo     .d8P 
o88o     o8888o o888o  o888o o888o        8""88888P'  

==> aretanafernandez@2016 - nicholasandsons - V.2.0 - SHOP - M.E.A.N
==> you can still visit our previous website at www.v1.nicholasandsons.com
:) thanks for watching

__/\\\\\_____/\\\______________________/\\\________________________/\\\\\\________________________________        
 _\/\\\\\\___\/\\\_____________________\/\\\_______________________\////\\\________________________________       
  _\/\\\/\\\__\/\\\__/\\\_______________\/\\\__________________________\/\\\________________________________      
   _\/\\\//\\\_\/\\\_\///______/\\\\\\\\_\/\\\_____________/\\\\\_______\/\\\_____/\\\\\\\\\_____/\\\\\\\\\\_     
    _\/\\\\//\\\\/\\\__/\\\___/\\\//////__\/\\\\\\\\\\____/\\\///\\\_____\/\\\____\////////\\\___\/\\\//////__    
     _\/\\\_\//\\\/\\\_\/\\\__/\\\_________\/\\\/////\\\__/\\\__\//\\\____\/\\\______/\\\\\\\\\\__\/\\\\\\\\\\_   
      _\/\\\__\//\\\\\\_\/\\\_\//\\\________\/\\\___\/\\\_\//\\\__/\\\_____\/\\\_____/\\\/////\\\__\////////\\\_  
       _\/\\\___\//\\\\\_\/\\\__\///\\\\\\\\_\/\\\___\/\\\__\///\\\\\/____/\\\\\\\\\_\//\\\\\\\\/\\__/\\\\\\\\\\_ 
        _\///_____\/////__\///_____\////////__\///____\///_____\/////_____\/////////___\////////\//__\//////////__
______________________________________/\\\__                                                                      
 _____________________________________\/\\\__                                                                     
  _____________________________________\/\\\__                                                                    
   __/\\\\\\\\\_____/\\/\\\\\\__________\/\\\__                                                                   
    _\////////\\\___\/\\\////\\\____/\\\\\\\\\__                                                                  
     ___/\\\\\\\\\\__\/\\\__\//\\\__/\\\////\\\__                                                                 
      __/\\\/////\\\__\/\\\___\/\\\_\/\\\__\/\\\__                                                                
       _\//\\\\\\\\/\\_\/\\\___\/\\\_\//\\\\\\\/\\_                                                               
        __\////////\//__\///____\///___\///////\//__                                                              
_____/\\\\\\\\\\\____________________________________________                                                     
 ___/\\\/////////\\\__________________________________________                                                    
  __\//\\\______\///___________________________________________                                                   
   ___\////\\\_____________/\\\\\_____/\\/\\\\\\____/\\\\\\\\\\_                                                  
    ______\////\\\________/\\\///\\\__\/\\\////\\\__\/\\\//////__                                                 
     _________\////\\\____/\\\__\//\\\_\/\\\__\//\\\_\/\\\\\\\\\\_                                                
      __/\\\______\//\\\__\//\\\__/\\\__\/\\\___\/\\\_\////////\\\_                                               
       _\///\\\\\\\\\\\/____\///\\\\\/___\/\\\___\/\\\__/\\\\\\\\\\_                                              
        ___\///////////________\/////_____\///____\///__\//////////__  

-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,700italic,900,900italic,500italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" >

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak">
  <navbar ></navbar>
  <section class="ng-cloak" class="content"  
  ng-class="{'ns-content':$state.current.name.split('.')[1]!=='signup',
             'login-bg':$state.current.name.split('.')[1]==='signup'}">
    <section class="row">
      {% block content %}{% endblock %}
    </section>
     
  </section>
  <services-banner ng-if="$state.current.name.split('.')[1]==='signup' || $state.current.name.split('.')[0]==='checkout' || $state.current.name.split('.')[0]==='cart'"></services-banner>
  <footer></footer>
  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script>
    Stripe.setPublishableKey('pk_test_axD1QXjEJgP0u8fgzI6BZcFQ');
  </script>
  
</body>

</html>
