.footer{

	padding-top:2em;
	display: inline-block;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	 //height: 200px;
	color: #eee;
	background: #384248
}
.footer h4{
	//border-bottom: 1px solid #5d5d5d;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	//color:#333;
}
.footer .column ul{
	font-size: 13px;
	list-style: none;
	padding: 0;
	line-height: 22px;
}
.footer .column ul a{
	color: #c3c6c8;
}
.footer .copyright{
	padding: 10px;
	color: #ddd;
	background: #263238
}
.footer .comodo{
	padding: 10px;
	color: #333;
	background: #f5f5f5; //#263238
}