  <section>

       
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>INFORMATION</h4>
                    <ul>
                        <li><a href="/products">Shop</a></li>
                        <li><a href="/products/stockist">Stockist</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                        <li><a href="/shipping-methods">Shipping Methods</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>COLLECTIONS</h4>
                    <ul>
                        <li><a href="/products/men">MEN</a></li>
                        <li><a href="/products/men/yatching">Yatching Collection</a></li>
                        <li><a href="/products/men/fingerprint">Signature Series</a></li>
                        <li><a href="/products/men/alligator">Alligator Prints</a></li>
                    </ul>
                    <ul>
                    <li><a href="/products/women/rorscharch">WOMEN</a></li>
                        <li><a href="/products/women/rorscharch">Rorscharch Collection</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="column">
                    <h4>CONTACT</h4>
                    <ul>
        				<li><a href="/contact-us">Contact Us</a></li>
        				<li><a href="#">Some Address, W1W 6TK London</a></li>
        				<li><a href="#">Phone: +447798795805</a></li>
        				<li><a href="#">Email: info@nicholasandsons.com</a></li>
        			</ul>
        		</div>
        	</div>
        	<div class="col-lg-3 col-md-3 col-sm-6">
        		<div class="column">
        			<h4>SECURE PAYMENTS</h4>
        			<ul class="social">
        				<li><a href="#">
                  <i class="fa fa-cc-stripe fa-2x"></i>
                  <i class="fa fa-cc-visa fa-2x"></i>
                  <i class="fa fa-cc-mastercard fa-2x"></i>
                  <i class="fa fa-cc-amex fa-2x"></i>
                    <i class="fa fa-cc-discover fa-2x"></i>
                  </a></li>
                  <li>&nbsp;</li>
        				<li><a href="https://comodo.com/" target="_blank"> 
                  <img src="/modules/core/client/img/brand/comodo-bw.png" height="34px"/> </a>
                </li>
        				
        			</ul>
        		</div>
        	</div>
         
        </div>
         <div class="navbar-default text-center copyright">
          
            arf © 2016 Nicholas & Sons
          
          </div>
        
    </section>
