 <div class="ns-content">
      <div class="container">
            <div class="page-header text-center">
              <h1>BAD REQUEST</h1>
            </div>
            <div class="col-md-12">
             <div class="alert alert-danger text-center" role="alert">
                <h2>
                <span class="fa fa-warning fa-2x" aria-hidden="true"></span><br/><br/>
                <span class="sr-only">Error:</span> YYou made a bad request
                </h2>
              </div>
            </div>
      </div>
</div>


