
 <div class="">
      <div class="container">
            <div class="page-header text-center">
              <h1>404</h1>
            </div>
            <div class="col-md-12">
             <div class="alert text-center" role="alert">
                <h2>
                <span class="fa fa-warning fa-2x" aria-hidden="true"></span><br/><br/>
                <span class="sr-only">Error:</span> Page Not Found
                </h2>
              </div>

                
            </div>
      </div>
</div>
