<section class=""  style="padding-bottom:2em;padding-top:2em;margin-bottom:2em">
  <div class="col-lg-8 col-lg-offset-2">
   <div class="row">
    <div class="page-header" style="margin-top:0">
      <h1 class="my-account-title">ABOUT US</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 settings-view">
     
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
  </div>
</section>

