<section ng-controller="HomeController">
  <div class="row text-center" id="main-landing"> 
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container-fluid">
      <div class="text-center">
        <div class="col-lg-12">
            <image-banner></image-banner>
        </div>
      </div>
    </div>
  </div>
</section>
