<section class=""  style="padding-bottom:2em;padding-top:2em;margin-bottom:2em">
  <div class="col-lg-8 col-lg-offset-2">
   <div class="row">
    <div class="page-header" style="margin-top:0">
      <h1 class="my-account-title">PRIVACY POLICY</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 settings-view">
	<p>We are committed to protecting your privacy. This privacy policy applies to all the web pages related to this website.</p>
	<p>All the information gathered in the online forms on the website is used to personally identify users that subscribe to this service. The information will not be used for anything other that which is stated in the Terms &amp; Conditions of use for this service. None of the information will be sold or made available to anyone.</p>
	<p>The Site may collect certain information about your visit, such as the name of the Internet service provider and the Internet Protocol (IP) address through which you access the Internet; the date and time you access the Site; the pages that you access while at the Site and the Internet address of the Web site from which you linked directly to our site. This information is used to help improve the Site, analyze trends, and administer the Site.</p>
	<p>We may need to change this policy from time to time in order to address new issues and reflect changes on our site. We will post those changes here so that you will always know what information we gather, how we might use that information, and whether we will disclose that information to anyone. Please refer back to this policy regularly. If you have any questions or concerns about our privacy policy, please send us an E-mail.</p>
	<p>By using this website, you signify your acceptance of our Privacy Policy. If you do not agree to this policy, please do not use our site. Your continued use of the website following the posting of changes to these terms will mean that you accept those changes.</p>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
  </div>
</section>