
<section class=""  style="padding-bottom:2em;padding-top:2em;margin-bottom:2em">
  <div class="col-lg-8 col-lg-offset-2">
   <div class="row">
    <div class="page-header" style="margin-top:0">
      <h1 class="my-account-title">SHIPPING METHODS</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 settings-view">
    	<p>Nicholas & Sons will deliver your parcel using any available Royal Mail Service.</p>
		<p>SA counter to counter</p>
		<p>Please ensure that a correct UK shipping address is provided towards the checkout process, to avoid unnecesary re-schedule of delivery.</p>
		<h4><strong><span >Undeliverable packages</span></strong></h4>
		<p>Occasionally packages are returned to us undeliverable. Should this event take place every attempt will be made to contact you to make arrangements for re-shipment.</p>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
  </div>
</section>




