<section class=""  style="padding-bottom:2em;padding-top:2em;margin-bottom:2em">
  <div class="col-lg-8 col-lg-offset-2">
   <div class="row">
    <div class="page-header" style="margin-top:0">
      <h1 class="my-account-title">TERMS AND CONDITIONS</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 settings-view">
     	<article class="post-175 page type-page status-publish hentry">
	
		
		
<div class="entry-content">
		
<h4><strong>Use of Site</strong></h4>
<p>You may only use this site to browse the content, make legitimate purchases and shall not use this site for any other purposes, including without limitation, to make any speculative, false or fraudulent purchase. This site and the content provided in this site may not be copied, reproduced, republished, uploaded, posted, transmitted or distributed. &#8216;Deep-linking&#8217;, &#8217;embedding&#8217; or using analogous technology is strictly prohibited. Unauthorized use of this site and/or the materials contained on this site may violate applicable copyright, trademark or other intellectual property laws or other laws.</p>
<h4><strong>Disclaimer of Warranty</strong></h4>
<p>The contents of this site are provided &#8220;as is&#8221; without warranty of any kind, either expressed or implied, including but not limited to warranties of merchantability, fitness for a purpose and non-infringement.</p>
<p>The owner of this site, the authors of these contents and in general anybody connected to this site in any way, from now on collectively called &#8220;Providers&#8221;, assume no responsibility for errors or omissions in these contents.</p>
<p>The Providers further do not warrant, guarantee or make any representation regarding the safety, reliability, accuracy, correctness or completeness of these contents. The Providers shall not be liable for any direct, indirect, general, special, incidental or consequential damages (including -without limitation- data loss, lost revenues and lost profit) which may result from the inability to use or the correct or incorrect use, abuse, or misuse of these contents, even if the Providers have been informed of the possibilities of such damages. The Providers cannot assume any obligation or responsibility.</p>
<p>The use of these contents is forbidden in those places where the law does not allow this disclaimer to take full effect.</p>
<h4><strong>Our Rights</strong></h4>
<p>We reserve the right to:</p>
<p>1. modify or withdraw, temporarily or permanently, the Website (or any part of) with or without notice to you and you confirm that we shall not be liable to you or any third party for any modification to or withdrawal of the Website; and/or <br /> 2. change these Conditions from time to time, and your continued use of the Website (or any part of) following such change shall be deemed to be your acceptance of such change. It is your responsibility to check regularly to determine whether the Conditions have been changed. If you do not agree to any change to the Conditions then you must immediately stop using the Website. <br /> 3. We will use our reasonable endeavours to maintain the Website. The Website is subject to change from time to time. You will not be eligible for any compensation because you cannot use any part of the Website or because of a failure, suspension or withdrawal of all or part of the Website due to circumstances beyond our control.</p>

<h4><strong>Cookie/Tracking Technology</strong></h4>
<p>The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.</p>
<h4><strong>Third Party Links</strong></h4>
<p>In an attempt to provide increased value to our Users, we may provide links to other websites or resources. You acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable, directly or indirectly, for the privacy practices or the content (including misrepresentative or defamatory content) of such websites, including (without limitation) any advertising, products or other materials or services on or available from such websites or resources, nor for any damage, loss or offence caused or alleged to be caused by, or in connection with, the use of or reliance on any such content, goods or services available on such external sites or resources.</p>
<h4><strong>Product availability</strong></h4>
<p>Lead time is dependent on stock availability. Should we have stock available, orders will be dispatched the same day provided payment is validated/received before 1400 hours.</p>
<p>Should the product not be in stock please allow 10 working days plus freight transit time. This will allow for manufacturing and delivery to our warehouse.</p>
<p>Every effort is made to effect shipment of your order timeously however unforeseen circumstances may cause delays. Should we be faced with such an occurrence Jack Bones Jeans CC will contact you via email and provide a revised shipping schedule.</p>
<p><strong>Delivery Policy </strong>(be specific)</p>
<p>When you click to make a purchase with us legal obligations arise and your right to refund of monies charged to your credit card or paid in any other way agreed by us, are limited by our terms &amp; conditions. You must not make any purchase through this site unless you understand and agree all our terms and conditions. Once payment is made for the purchase, it is deemed that you have read and understood the terms and conditions for such purchase. If you have any queries please contact us before making any purchase for any service through this website.</p>

<h4><strong><span >Order processing</span></strong></h4>
<p>Order processing will not begin until we receive a confirmed order and full payment.</p>
<p><strong>Refunds/returns Policy </strong>(be specific)</p>
<p>Should you for any reason wish to cancel your purchase you will be liable for a 15% handling fee. You must advise us in writing of your cancellation and any such cancellation must be signed by the person who made the original purchase. The goods must be returned to us undamaged in the original packaging within 14 calendar days.</p>
<p>* Note:  Nicholas and Sons recommends that you use Speed Services Couriers (UK Postal Services) for all returns as it offers shipment tracking through a 24 hours customer helpline. Should you choose to use a carrier that does not offer a tracking facility and the goods are lost then no refund or return will be considered.</p>
<p>International customers should make use of a courier that offers:</p>
<p>1. Shipment tracking.</p>
<p>2. Insure your package for safe return and declare the full value of the shipment failing which loss or damage will be for your account.</p>
<h4><strong>Disclosure of outlet country at time of payment</strong></h4>
<p><strong>Example: </strong>(indicate your bank with logo)</p>
<p>&nbsp;</p>

<h4><strong>Payment Options and Pricing</strong></h4>
<p>All transactions will be processed with <a>STRIPE</a>.</p>
<p>Nicholas and Sons endeavours to offer you competitive prices on current products; you&#8217;re total order price will include the price of the purchase plus any applicable</p>
<p>sales tax and shipping charges (on the day of shipping).</p>
<p><strong>Nicholas and Sons reserves the right to change pricing at any time without prior notice.</strong></p>
<p>Should Nicholas and Sons reduce its price on any shipped products within 10 working days of shipment, you may contact us and request a refund of the difference between the price you were charged and the reduced selling price. To receive the refund you must contact us within 14 days of shipment<em>.</em></p>

<h4><strong>Credit Card</strong></h4>
<p>We accept MasterCard, american Express and Visa credit cards.<br>
Nicholas and sons will never store any data like credit card number, cvc or expiry date related to payments.<br> 
 All of your order details will be saved online under in the Your Account section, then orders, available for use whenever you’re ready! Sorry for the inconvenience.</p>

<p>For more information about how to order, special order requirements and other payment options, please contact our Support Team on Fax (011) 555-5555 or email<strong> <a href="mailto:info@nicholasandsons.com">info@nicholasandsons.com</a>.</strong></p>
<p>&nbsp;</p>
<h4><strong>Security Policy</strong></h4>
<ol start="1">
<li>Stripe Services process all credit card transactions. All credit card transactions are 128 bit Secure Socket Layers (SSL) encrypted. The company registration documents and the site&#8217;s registered domain name are checked and verified by Thawte, ensuring the cardholder and merchant that nobody can impersonate VCS to obtain confidential information.</li>
<li>Virtual Card Services is committed to providing secure online services. All encryption complies with international standards. Encryption is used to protect the transmission of personal information when completing online transactions. Virtual Card Services Internet servers are protected by firewalls and intrusion detection systems.</li>
<li>The Merchant does not have access to credit details.</li>
<li>Virtual Card Services continually reviews and enhances its security in line with technological changes.</li>
</ol>
<h4><strong>Monitoring</strong></h4>
<p>We have the right, but not the obligation, to monitor any activity and content associated with the Website. We may investigate any reported violation of these Conditions or complaints and take any action that we deem appropriate (which may include, but is not limited to, issuing warnings, suspending, terminating or attaching conditions to your access and/or removing any materials from the Website).</p>
<h4><strong>Law</strong></h4>
<p>The Conditions will be exclusively governed by and construed in accordance with the laws of South Africa whose Courts will have exclusive jurisdiction in any dispute, save that we have the right, at our sole discretion, to commence and pursue proceedings in alternative jurisdictions.</p>
<h4><strong>Updating of these Terms and Conditions</strong></h4>
<p>We reserve the right to change, modify, add to or remove from portions or the whole of these Terms and Conditions from time to time. Changes to these Terms and Conditions will become effective upon such changes being posted to this Website. It is the User’s obligation to periodically check these Terms and Conditions at the Website for changes or updates. The User’s continued use of this Website following the posting of changes or updates will be considered notice of the User’s acceptance to abide by and be bound by these Terms and Conditions, including such changes or updates.</p>
<h4><strong>Consent</strong></h4>
<p>I understand that all the designs and trademarks are registered to Nicholas and Sons and hereby accept the terms and conditions. I undertake not to copy/duplicate the trademarks and designs directly or indirectly in anyway and understand the legal implications thereof. Should I be found to be in violation of this agreement I understand that I will be held liable for all legal costs incurred by Nicholas and Sons for any civil action or any legal action deemed necessary against me.</p>

<div style="clear:both;"></div>
</div>
				
	</article>

    </div>
    <div class="clearfix"></div>
    <hr>
  </div>
  </div>
</section>
