
.ns-page-header {
    padding-bottom: 9px;
    margin: 10px 0 10px;
    border-bottom: 1px solid transparent;
    padding-left:15px;
}
.ns-hide{display: none;}
.ns-block{display: block;}
.ns-block[readonly]{background-color: white}
.ns-pic{width:50px;height:70px;border:1px solid #ddd}
.ns-pic.active{border:1px solid #4c7ed3}
.ns-mb-0{margin-bottom: 0}
.ns-more{    letter-spacing: 2px;
    font-size: 12px;}
.ns-grey{color:#545454}

.text-tiny{font-size:0.8em}

.well{background-color: transparent;border-color: transparent}

#toast-container{
	div{
		background-color: white!important;
		*{color:#999;}
	}
}

.carousel-control.right,.carousel-control.left { background-image:none!important;display:none; }
.carousel-indicators li { border-radius: 0 ;display:none;}
.carousel-caption { text-shadow: none }

.ns_cat{
	border-color:rgba(0,0,0,0.2);
	 border:1px solid rgba(0,0,0,0.2);
	//background-color: rgba(0,0,0,0.2);
	//background-image: url('../assets/images/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin:5px 0;
	color:#333;
	a{
		color:#333!important;	
	}
}  
  
  .ns_cat:hover{
	  border:1px solid;
	border-color:#000;
	background-color: rgba(256,256,256,0.5);
	background-image: none;
	color:#333;
	a{
	color:#999!important;	
	}
	.overlay{
     background-color:transparent
  }
}  
  
 .overlay{
    background-color: rgba(50,50,50,.8);
  }

  .abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  } 

.men{
 
    
.link-p{
	display: block;
	min-height: 250px;
	height: auto;
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.first-p{
	min-height: 169px;
}
.def-img{
	position: inherit!important;
	width: auto!important;
	height: inherit!important;
	max-width: inherit!important;
	max-height: inherit!important;
	left: inherit!important;
	top: inherit!important;
}

span.title{
	display: block;
	
	padding-bottom: 8px;
	margin-bottom: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	color: #4c7ed3;
}
    
    

.thumbnail:hover{
	border: 1px solid gray;
}
  
.ns_cat{
	border-color:rgba(0,0,0,0.2);
	 border:1px solid rgba(0,0,0,0.2);
	//background-color: rgba(0,0,0,0.2);
	//background-image: url('../assets/images/home.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin:5px 0;
	color:#333;
	a{
		color:#333!important;	
	}
}  
  
  .ns_cat:hover{
	  border:1px solid;
	border-color:#000;
	background-color: rgba(256,256,256,0.5);
	background-image: none;
	color:#333;
	a{
	color:#999!important;	
	}
	.overlay{
     background-color:transparent
  }
}  
  
 .overlay{
    background-color: rgba(50,50,50,.8);
  }

  .abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  } 
    
    
}

.btn-default:active, .btn-default.active, .btn-default:hover,{
	    color: #4c7ed3;
	    background-color: #fff;
	    box-shadow: none;
	    border-color: #4c7ed3;
	}


#subcategory{
	a.ns-subcat{color: #ccc}
	a.ns-subcat.active{ color:#4c7ed3; background-color: none!important}
	.btn-default{color:#ccc;border-color:#ccc}
	.btn-default:active, .btn-default.active, .btn-default:hover,{
	    color: #4c7ed3;
	    background-color: #fff;
	    box-shadow: none;
	    border-color: #4c7ed3;
	}
}

@import url('../directives/menu/menu.less');
@import url('../directives/ns-wishlist/ns-wishlist.less');
@import url('../directives/shop-header/shop-header.less');