

<div class="panel panel-default" ng-class="{'is-updating':updateAddress}">
	<div class="panel-heading " style="background-color:white">
	  <h3 class="text-muted" ng-click="isAddressCollapsed = !isAddressCollapsed">
	    <span>
         	<i class="fa fa-check-circle green" ng-if="isAddressConfirmed"></i> 
         	<i class="fa fa-check-circle " ng-if="!isAddressConfirmed"></i> 
        </span>
        <strong> DELIVERY ADDRESS</strong>
	    <span class="pull-right" >
	       <i class="fa fa-chevron-down" ng-if="!isAddressCollapsed"></i>
	       <i class="fa fa-chevron-right" ng-if="isAddressCollapsed"></i>
	    </span> 
	  </h3>
	</div>
	<div class="panel-body" uib-collapse="isAddressCollapsed" style="font-size:1.4em">
	    <div class="row">
	       <div class="col-md-12 text-left" >
	        	<div ng-class="{'is-updating':updateAddress}">
		           <p class="text-primary ns-p">{{address.addressLine1}}</p>
		           <p class="text-primary ns-p">{{address.addressLine2}}</p>
		           <p class="text-primary ns-p">{{address.region}}</p>
		           <p class="text-primary ns-p">{{address.city}}</p>
		           <p class="text-primary ns-up">{{address.postalCode}}</p>
		           <p class="text-primary">{{address.country}}</p>
	            </div>
        	</div>
        	<p class="text-center">
        		  
        	</p>
	    </div>
	    <hr>
	    <div class="row">
	       <div class="col-md-12" >
				<a href="settings/address" class="btn btn-default " ui-sref="settings.address">
				CHANGE ADDRESS</a>	
	       </div>
	    </div>
	    
	</div>
</div>

