.ns-page-header {
  padding-bottom: 9px;
  margin: 10px 0 10px;
  border-bottom: 1px solid transparent;
  padding-left: 15px;
}
.ns-hide {
  display: none;
}
.ns-block {
  display: block;
}
.ns-block[readonly] {
  background-color: white;
}
.ns-pic {
  width: 50px;
  height: 70px;
  border: 1px solid #ddd;
}
.ns-pic.active {
  border: 1px solid #4c7ed3;
}
.ns-mb-0 {
  margin-bottom: 0;
}
.ns-more {
  letter-spacing: 2px;
  font-size: 12px;
}
.ns-grey {
  color: #545454;
}
.text-tiny {
  font-size: 0.8em;
}
.well {
  background-color: transparent;
  border-color: transparent;
}
#toast-container div {
  background-color: white!important;
}
#toast-container div * {
  color: #999;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none!important;
  display: none;
}
.carousel-indicators li {
  border-radius: 0 ;
  display: none;
}
.carousel-caption {
  text-shadow: none;
}
.ns_cat {
  border-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 0;
  color: #333;
}
.ns_cat a {
  color: #333!important;
}
.ns_cat:hover {
  border: 1px solid;
  border-color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
  color: #333;
}
.ns_cat:hover a {
  color: #999!important;
}
.ns_cat:hover .overlay {
  background-color: transparent;
}
.overlay {
  background-color: rgba(50, 50, 50, 0.8);
}
.abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.men .link-p {
  display: block;
  min-height: 250px;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.men .first-p {
  min-height: 169px;
}
.men .def-img {
  position: inherit!important;
  width: auto!important;
  height: inherit!important;
  max-width: inherit!important;
  max-height: inherit!important;
  left: inherit!important;
  top: inherit!important;
}
.men span.title {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  color: #4c7ed3;
}
.men .thumbnail:hover {
  border: 1px solid gray;
}
.men .ns_cat {
  border-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 0;
  color: #333;
}
.men .ns_cat a {
  color: #333!important;
}
.men .ns_cat:hover {
  border: 1px solid;
  border-color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: none;
  color: #333;
}
.men .ns_cat:hover a {
  color: #999!important;
}
.men .ns_cat:hover .overlay {
  background-color: transparent;
}
.men .overlay {
  background-color: rgba(50, 50, 50, 0.8);
}
.men .abs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.btn-default:active,
.btn-default.active,
.btn-default:hover {
  color: #4c7ed3;
  background-color: #fff;
  box-shadow: none;
  border-color: #4c7ed3;
}
#subcategory a.ns-subcat {
  color: #ccc;
}
#subcategory a.ns-subcat.active {
  color: #4c7ed3;
  background-color: none !important;
}
#subcategory .btn-default {
  color: #ccc;
  border-color: #ccc;
}
#subcategory .btn-default:active,
#subcategory .btn-default.active,
#subcategory .btn-default:hover {
  color: #4c7ed3;
  background-color: #fff;
  box-shadow: none;
  border-color: #4c7ed3;
}
shop-menu .ns-active span {
  color: #4c7ed3 !important;
}
shop-menu .list-group-submenu {
  margin-left: 10px;
}
shop-menu .panel-cat {
  border: 0;
}
shop-menu .panel-cat > a {
  background: #f5f5f5;
}
shop-menu .panel-cat i.fa-caret-down {
  margin-left: 10px;
}
shop-menu .panel-cat .list-group-sub > a {
  padding-left: 6px;
}
shop-menu .panel-cat .list-group-sub a:last-child {
  border-bottom: 0;
}
shop-menu .panel-cat .list-group-sub:last-child a:last-child {
  border-bottom: 1px solid #ddd;
}
shop-menu .list-group-item.last {
  border-bottom: none !important;
}
shop-menu .ns-remove-filter:hover {
  cursor: pointer;
}
.ns-default {
  color: #999;
}
.ns-wish {
  color: #1DAEF9;
}
.ns-icon {
  font-size: 1.2em;
}
.ns-wish-btn {
  color: #1DAEF9;
  background-color: #fff;
  box-shadow: none;
  border-color: #fff;
}
.ns-wish-btn:hover {
  color: #fff;
  background-color: #1DAEF9;
  box-shadow: none;
  border-color: #1DAEF9;
}
.ns-wish-btn:hover .ns-wish {
  color: #fff;
}
.ns-wished {
  border-color: #fff;
}
.ns-wished:hover {
  background-color: #1DAEF9;
  border-color: #1DAEF9;
}
.ns-wished:hover .ns-icon {
  color: white;
}
.ns-watched {
  border-color: #fff;
}
.ns-watched:hover {
  background-color: #4c7ed3;
  border-color: #4c7ed3;
}
.ns-watched:hover .ns-icon {
  color: white;
}
.shop-header {
  height: 300px;
}
