.my-account-title {
  color: #999;
}
.login-bg {
  background: url('/modules/core/client/img/assets/bg.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}
.signup {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em 4em;
}
.signup .form-control {
  font-size: 1.6em;
  height: 50px!important;
  background-color: transparent;
  border: 1px solid #333;
}
.signup .has-error .form-control {
  border-color: #a94442;
}
.signup .has-feedback label ~ .form-control-feedback {
  top: 33px!important;
}
.signin {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2em 4em;
}
.signin .form-control {
  font-size: 1.6em;
  height: 50px!important;
}
.signin .has-feedback label ~ .form-control-feedback {
  top: 33px!important;
}
@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-remove-account {
  top: 10px;
  right: 10px;
  position: absolute;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  cursor: inherit;
  display: block;
}
.user-profile-picture {
  min-height: 150px;
  max-height: 150px;
}
.ns-container-settings {
  background-color: #f5f5f5;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-pills li a {
  color: #999;
  background-color: #ffffff;
}
.nav-pills li.active a,
.nav-pills a:hover a,
.nav-pills a:focus a {
  color: #4c7ed3 !important;
  background-color: white!important;
}
.nav-pills li.active:hover a {
  color: #4c7ed3 !important;
  background-color: white!important;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #fff;
}
.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0;
  min-width: 230px;
  padding: 1.4em 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
}
.ns-list-group {
  padding: 1em 0.2em;
}
.ns-pd-top-20 {
  padding-top: 20px;
}
.ns-up {
  text-transform: uppercase;
}
.ns-feedback {
  padding-top: 8px;
  font-size: 20px;
}
.ns-list-group.account {
  border: 1px solid white;
  margin-top: 4px;
}
.ns-list-group.account.isFirst {
  margin-top: 0;
}
.ns-cart-header.account {
  border: 1px solid white;
}
.is-updating {
  opacity: 0.7;
}
.is-updating * {
  color: #ddd;
}
p.ns-p {
  margin: 0 0 1px;
}
.has-success * {
  color: green !important;
}
.has-success .form-control {
  border-color: green;
  color: green;
}
.card {
  padding-top: 20px;
  margin: 0px 0 20px 0;
  background-color: #e8ecf0;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card .card-heading {
  padding: 0 20px;
  margin: 0;
}
.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
}
.card.hovercard .cardheader {
  /* IE10+ */
  background-color: #999;
  height: 40px;
}
.card.hovercard .avatar {
  position: relative;
  top: -25px;
  margin-bottom: -25px;
}
.card.hovercard .avatar img {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .info {
  padding: 4px 8px 10px;
}
.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
/*--services--*/
.services {
  background-color: #ddd;
}
.service-top h3 {
  text-align: center;
  color: #000;
  font-size: 3em;
  padding: 0 0 0.3em;
}
.service-top p {
  color: #a3a3a3;
  font-size: 0.9em;
  line-height: 2em;
  text-align: center;
}
.services {
  padding: 2em 0 3em;
}
.service-top {
  padding: 0em 0 4em;
}
.ser-top {
  float: right;
  width: 77%;
}
.ser-top h4 {
  font-size: 1.4em;
  text-transform: uppercase;
  color: #333 ;
}
.service-top1 p {
  color: #a3a3a3;
  font-size: 1.3em;
  line-height: 2em;
  margin: 0.5em 0 0em;
}
.ser-grid h2 {
  color: #777;
  font-size: 2.5em;
}
.services-grid {
  margin: 0em 0 2em;
}
.hi-icon {
  display: inline-block;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #8e8e8e;
  border: 3px solid #f1f1f1;
  line-height: 4.5em;
  font-size: 1em;
}
.hi-icon.green {
  color: green;
}
.hi-icon.purple {
  color: #a81eb1;
}
.hi-icon.blue {
  color: #4c7ed3;
}
.hi-icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.hi-icon:before {
  font-size: 1.7em;
  display: block;
}
/* Effect 8 */
.ser-grid .hi-icon {
  background: #ffffff;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}
.ser-grid .hi-icon:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.ser-grid .hi-icon:hover {
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #8e8e8e;
  text-decoration: none;
}
.ser-grid .hi-icon:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
