

<a href ng-if="!vm.isWatchList(vm.product._id)" class="btn {{vm.btnSize}} btn-default red" ng-click="vm.AddWatchList(vm.product._id)" popover-placement="top"  
uib-popover="Click to add {{vm.product.name}} to your Watchlist. You will receive notifications when the item is available." 
        popover-trigger="mouseenter" >
        <i class="fa fa-exclamation-circle"></i> OUT OF STOCK
        </a>

<a href ng-if="vm.isWatchList(vm.product._id)" class="btn {{vm.btnSize}} btn-default ns-watched" ng-click="vm.removeWatchList(vm.product._id)" popover-placement="bottom-left"  uib-popover="Click to remove {{vm.product.name}} from your Watchlist." popover-trigger="mouseenter" >
<i class="fa fa-eye text-primary ns-icon" ></i> 
</a>

