<section class="row">
  <div class="list-group">
    <a data-ng-repeat="order in vm.orders"
       data-ui-sref="settings.viewOrder({ orderId: order._id })"
       class="list-group-item">
       <span class="text-primary"> #{{order._id | limitTo:5:17}}
        <small class="list-group-item-text text-muted text-tiny">
          <span data-ng-bind="order.created | date:'mediumDate'"></span>
        </small>
       </span>
      
       <span class="pull-right"> 
        <span class="text-muted" ng-if="order.status.name==='IN PROCESS'">
          <i class="fa fa-circle "></i>
          <b>{{order.status.name}}</b>
        </span>
        <span class="text-purple" ng-if="order.status.name==='IN DELIVERY'">
          <i class="fa fa-truck "></i>
          <b>{{order.status.name}}</b>
        </span>
        <span class="green" ng-if="order.status.name==='COMPLETED'">
          <i class="fa fa-check-circle "></i>
          <b>{{order.status.name}}</b>
        </span>

       

       </span>


      <h4 class="list-group-item-heading" data-ng-bind="order.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center " data-ng-if="vm.orders.$resolved && !vm.orders.length">
    <h4> No Orders yet, why don't you <a data-ui-sref="shop">visit our shop</a>?</h4>
  </div>
</section>