<section>


  <div class="row">
      <div class="col-md-6 col-md-offset-3" style="border:1px solid #ddd;">  
    <h2 class="text-center text-muted">
        <a href="/orders">    
        Order number: #{{vm.order._id | limitTo:5}}
        </a>
        </h2>
    
        <hr />  
    <!-- </div>
        <div class="col-md-6 col-md-offset-3"> -->
        <div class="col-md-12">
          <div class="col-xs-6">
              <address>
            <strong>Shipping Address:</strong><br>
                       <span style="text-transform:capitalize"> {{vm.authentication.user.displayName}}</span><br>
                        {{vm.order.shippingAddress[0].addressLine1}}<br>
                        {{vm.order.shippingAddress[0].addressLine2}}<br>
              {{vm.order.shippingAddress[0].region}}<br>
              {{vm.order.shippingAddress[0].city}}<br>
              {{vm.order.shippingAddress[0].postalCode}}<br>
              {{vm.order.shippingAddress[0].country}}
            </address>

          </div>
          <div class="col-xs-6 text-right">
                <h1><span class="glyphicon glyphicon glyphicon-cloud-download" aria-hidden="true"></span></h1>
          </div>
        </div>
      <!-- </div>
      <div class="clearfix">&nbsp;</div> 
      <div class="col-md-6 col-md-offset-3"> -->
        <!-- <div class="panel panel-default" style="background-color:#ffffff ">
          <div class="panel-heading ns-heading">
            <h3>Order number: #243735374</h3>
          </div> -->
          <div class="col-md-12">
            <div class="col-md-12 table-responsive">
              <table class="table table-condensed">
                <thead>
                                <tr>
                      <td><strong>Product Name</strong></td>
                      <td class="text-right"><strong>Quantity</strong></td>
                        <td class="text-right"><strong>Price</strong></td>
                                    
                                </tr>
                </thead>
                <tbody>
                  <!-- foreach ($order->lineItems as $line) or some such thing here -->
                  <tr ng-repeat="item in vm.order.cart.products track by $index">
                    <td >{{item.product.name}}</td>
                  <td class="text-right">{{item.qty}} </td>
                  <td class="text-right">£{{item.product.price.value}}</td>
                    
                  </tr>
                  <tr>
                    <td class="thick-line"></td>
                    <td class="thick-line text-right"><strong>VAT - 12%</strong></td>
                    <td class="thick-line text-right">incl.</td>
                  </tr>
                  <tr>
                    <td class="no-line"></td>
                    
                    <td class="no-line text-right"><strong>Shipping</strong></td>
                    <td class="no-line text-right">incl.</td>
                  </tr>
                  <tr>
                    <td class="no-line"></td>
                    <td class="no-line text-right"><strong>Total</strong></td>
                    <td class="no-line text-right">£{{vm.order.cart.totalPrice || '0'}}</td>
                  </tr>
                </tbody>
              </table>
              <p class="text-right text-muted">
                <small>
                  order created : 35 May,2017 
                </small>
              </p>
            </div>
        </div>
      <!-- </div> -->
    </div>
    </div>



  <!-- <div class="page-header">
    <h1 data-ng-bind="vm.order.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.order.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="orders.edit({ orderId: vm.order._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.order.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.order.user"
            data-ng-bind="vm.order.user.displayName"></span>
      <span data-ng-if="!vm.order.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.order.content"></p> -->
</section>
