@font-face {
    font-family: 'SnellRoundhandScriptItalic';
    src: url('snell.eot');
    src: url('snell.eot') format('embedded-opentype'),
         url('snell.woff') format('woff'),
         url('snell.ttf') format('truetype'),
         url('snell.svg#SnellRoundhandScriptItalic') format('svg');
}
