.ns-alert{
	background-color: #333;
	border-color: black;
	color:white;
}

.ns-remove{
	border-color:red;
}
.ns-remove:hover{
	border-color:red;
	background-color: red;
	color:white
}

.ns-remove[disabled]:hover{
border-color:red;
	background-color: red;
	color:white
}

.ns-shop-btn{
	background-color: black;
	border-color: black;
	color:white;
}
.ns-shop-btn:hover{
	background-color: white;
	border-color: black;
	color:black;
}


.ns-next:hover{
	background-color:white;
	border-color:green;
	color:green;
}
.ns-next[disabled]{
	border-color:#333;
	color:#333;
	background-color:white;
}


.ns-next{
	background-color:green;
	border-color:green;
	color:white;
}
.ns-next[disabled]:hover{
	border-color:#ddd;
	background-color:white;
	color:#ddd;
}
.ns-next:hover[disabled]{
	border-color:#ddd;
	color:#ddd;
}

.ns-confirm{text-decoration:none!important}



.panel-default>.panel-heading.ns-heading{ 
    color: #ddd;
    background-color: #fff;
    padding-bottom: 1px !important;

}
.ns-complete:hover{
	background-color:white;
	border-color:green;
	color:green;
}
.ns-complete[disabled]{
	border-color:#333;
	color:#333;
}


.ns-complete{
	background-color:green;
	border-color:green;
	color:white;
}

.btn-default.ns-shop-btn:active, .btn-default.ns-shop-btn.active,.btn-default.ns-shop-btn:focus, .btn-default.ns-shop-btn.focus  {
	background-color: white;
	border-color: black;
	color:black;
}

.btn-default.ns-next:active, .btn-default.ns-next.active,.btn-default.ns-next:focus, .btn-default.ns-next.focus  {
    color: green;
    background-color: #fff;
    border-color: green;
    webkit-box-shadow: none;
    box-shadow:none;
}



