shop-menu{
    
    .ns-active{ span{color:#4c7ed3!important}}
    
    .list-group-submenu {
        margin-left:10px;
    }
    .panel-cat {
        border: 0
    }
    .panel-cat > a {
        background: #f5f5f5
    }
    .panel-cat i.fa-caret-down {
        margin-left: 10px
    }
    .panel-cat .list-group-sub > a {
        padding-left: 6px
    }
    .panel-cat .list-group-sub a:last-child {
        border-bottom: 0
    }
    .panel-cat .list-group-sub:last-child a:last-child {
        border-bottom: 1px solid #ddd
    }
    .list-group-item.last{border-bottom:none!important}
    
    .ns-remove-filter:hover{cursor: pointer;}   
}