shop-menu .ns-active span {
  color: #4c7ed3 !important;
}
shop-menu .list-group-submenu {
  margin-left: 10px;
}
shop-menu .panel-cat {
  border: 0;
}
shop-menu .panel-cat > a {
  background: #f5f5f5;
}
shop-menu .panel-cat i.fa-caret-down {
  margin-left: 10px;
}
shop-menu .panel-cat .list-group-sub > a {
  padding-left: 6px;
}
shop-menu .panel-cat .list-group-sub a:last-child {
  border-bottom: 0;
}
shop-menu .panel-cat .list-group-sub:last-child a:last-child {
  border-bottom: 1px solid #ddd;
}
shop-menu .list-group-item.last {
  border-bottom: none !important;
}
shop-menu .ns-remove-filter:hover {
  cursor: pointer;
}
