
<div class="">
<div class="no-padding">
    <h1 class="title">&nbsp;</h1>
</div>
  
    <div id="main_menu">
    <div class="list-group panel panel-cat">
        <a style="padding-left:5px" href="#sub1" class="list-group-item " ng-click="isCollapsedMen = !isCollapsedMen" >MEN<i class="fa fa-caret-down pull-right"></i></a>
        <div class="list-group-sub" id="sub1" uib-collapse="isCollapsedMen">
            <a href="#SubMenu1" class="list-group-item" ng-click="isCollapsedMenSub = !isCollapsedMenSub" >SPRING / SUMMER <i class="fa fa-caret-down"></i></a>
            <div class="list-group-sub" uib-collapse="isCollapsedMenSub">
                <a href class="list-group-item " ng-click="filterBy('yatching')" ng-class="{'ns-active': selectedFilter==='yatching'}"><span class="text-muted">&nbsp;Yatching Collection</span></a>
                <a href class="list-group-item last" ng-click="filterBy('fingerprint')" ng-class="{'ns-active': selectedFilter==='fingerprint'}"><span class="text-muted">&nbsp;Signature Series</span></a>
            </div>
            
            <a href="#SubMenu12" class="list-group-item" ng-click="isCollapsedMenSub2 = !isCollapsedMenSub2" >AUTUMN / WINTER <i class="fa fa-caret-down"></i></a>
            <div class="list-group-sub" uib-collapse="isCollapsedMenSub2">
                <a href="#" class="list-group-item" ng-click="filterBy('alligator')" ng-class="{'ns-active': selectedFilter==='alligator'}"><span class="text-muted">&nbsp;Alligator Prints</span></a>
            </div>
        </div>
        
    </div>
    <div class="list-group panel panel-cat">    
        <a style="padding-left:5px" href="#sub2" class="list-group-item" ng-click="isCollapsedWomen = !isCollapsedWomen" data-parent="#main_menu">WOMAN <i class="fa fa-caret-down pull-right"></i></a>
        <div class="list-group-sub" uib-collapse="isCollapsedWomen">
            <a href="" class="list-group-item" ng-click="filterBy('rorscharch')" ng-class="{'ns-active': selectedFilter==='rorscharch'}"><span class="text-muted">&nbsp;Rorscharch Collection</span></a>
        </div>
        
    </div>
</div>

    <p><span ng-if="selectedFilter" class="text-muted ns-remove-filter" ng-click="filterBy('')"><i class="fa fa-close"></i> remove filter </span></p>  

</div>