<section>
  <div class="ns-page-header"></div>

  <div class="col-lg-10 col-lg-offset-1 col-sm-12">
    <div class="col-lg-12 col-sm-12 text-center">
        <span class="text-center">
         <a class="btn btn-lg btn-default " href="/products/men/yatching" > SHOP</a>
        
      </span>
   </div>   



 

  <div class="col-lg-2  col-md-3 col-sm-12">
      <shop-menu></shop-menu>
  </div>
   
  <div class="col-lg-10 col-md-9 col-sm-12" >
    <div id="shop-landing">
    <!-- Featured -->
    <div class="col-lg-12 col-sm-12">
      <h1 class="title">&nbsp; <span class="pull-right text-muted"></span></h1>
    </div>
    <div class="col-xs-6 col-lg-3 col-sm-3 hero-feature text-center" ng-repeat="item in vm.products | orderBy:'name' | filter: vm.filterBy as whatever track by $index">
      <div class="thumbnail">
        <a href="/products/{{item._id}}" class="">

        <img ng-src="{{des.image}}" alt="" ng-repeat="des in vm.designs | filter:{name:item.name}">

         <!--  <img ng-src="{{item.image}}" alt="" > -->
        </a>
        <div class="prod-caption text-left">
          <h4 class="ns-up ns-mb-0"><a class="ns-grey" ui-sref="products.view({productId:pic._id})"><b>{{item.name}}</b></a></h4>
          <p class="hidden-xs ns-mb-0 text-muted">{{item.info}}</p>


          <span class="text-muted"><b>{{item.price.currency}} {{item.price.value}}</b></span>
          
          <p><a ui-sref="products.view({productId:pic._id})" class="ns-up ns-mb-0 ns-more ns-grey">MORE COLOURS</a></p>
         

          <a href="#" class="btn btn-sm btn-default" ng-hide="item.stock===0"  ng-click="vm.addToCart(item,1)">
          <i class="fa fa-shopping-bag"></i> ADD TO BAG
          </a>
          <a href ng-if="!authentication.user && item.stock===0" class="btn btn-sm btn-default red ns-remove" ng-disabled="true">
            <i class="fa fa-exclamation-circle"></i> OUT OF STOCK
          </a>
          <ns-watchlist product="item" btn-size="'btn-sm'" ng-if="authentication.user && item.stock===0" > </ns-watchlist> 
          <ns-wish product="item" btn-size="'btn-sm'" ng-if="authentication.user"></ns-wish>
          <br/>
        </div>
      </div>
    </div>
    <!-- End Featured --> 
  </div>
  </div>
  
</section>
