
<section id="subcategory" class="row">

	<div class="ns-page-header"></div>

	<div class="container">
		<div class="col-lg-12 col-sm-12 text-center">
    		<span class="text-center" ng-if="$ctrl.category==='men'">
				 <a class="btn btn-default" href="/products/men/yatching" ng-class="{'active':$ctrl.subcat==='yatching' || $ctrl.subcat==='fingerprint'}"> SPRING / SUMMER</a>
				 <a class="btn btn-default" href="/products/men/alligator" ng-class="{'active':$ctrl.subcat==='alligator'}"> AUTUMN / WINTER</a>
			</span>
			<span class="text-center" ng-if="$ctrl.category==='women'">
				 <a class="btn btn-default" href="/products/women/rorscharch" ng-class="{'active':$ctrl.subcat==='rorscharch'}"> ALL SEASONS</a>
			</span>
			<p class="text-center" style="margin-top:10px;">
			 	<span ng-if="$ctrl.subcat==='yatching' || $ctrl.subcat==='fingerprint'">
					 <a class="ns-subcat" href="/products/men/yatching" ng-class="{'active':$ctrl.subcat==='yatching'}"> Yatching Collection</a>&nbsp;&nbsp;
					 <a class="ns-subcat" href="/products/men/fingerprint" ng-class="{'active': $ctrl.subcat==='fingerprint'}"> Signature Series</a>
					</span>
					<span ng-if="$ctrl.subcat==='alligator'">
						 <a  class="ns-subcat" href="/products/men/alligator" ng-class="{'active':$ctrl.subcat==='alligator'}"> Alligator Collection</a>
					</span>

					<span ng-if="$ctrl.subcat==='rorscharch'">
						 <a  href="/products/women/rorscharch" ng-class="{'active':$ctrl.subcat==='rorscharch'}"> Rorscharch Collection</a>
					</span>
			 </p>
    	</div>
    	<p>&nbsp;</p>
		<p>&nbsp;</p>
    	<div class="col-lg-5" >
    		<div class="" ng-if="$ctrl.subcat==='yatching' || $ctrl.subcat==='fingerprint'">
            	<p class="lead ">Our Spring/Summer collection introduces two of our favourite themes: yachting and our classic signature print. </p>
            	<br/>
				<p class="lead text-muted" ng-if="$ctrl.subcat==='fingerprint'">
					The <span class='nic'> Nicholas & Sons&nbsp;</span>  signature print is a larger-than-life take on the concept 
					of a “signature print.” In this case, the signature is a fingerprint, because what
					 could be more unique or say more about the brand than its own fingerprint?
				</p>
				<p class="lead text-muted" ng-if="$ctrl.subcat==='yatching'">
					The yachting motif launches with an aerial view of a modern yacht sailing across a silk ocean of blue.
					 This scarf is the first in a series of sailing designs intended to spark conversations about summer 
					 holidays and island retreats. This scarf is ideally paired with late summer khakis or a linen jacket, with a gin & tonic in hand.
				</p>
            </div>
            <div class="" ng-if="$ctrl.subcat==='alligator'">
            	<p class="lead">Our Autumn/Winter introduces the <span class='nic'> Nicholas & Sons&nbsp;</span>  alligator print in satin which marries a traditional colour palette with a hand-drawn, fashion forward print. This design has a sheen and a presence that is not easily forgotten.  </p>
				
				<p class="lead text-muted" >
					This scarf works well tied casually for an evening at the theatre, as well as with a traditional suit and overcoat
					 for that big interview. It is a design that spans the ages, moods, and activities of the <span class='nic'> Nicholas & Sons&nbsp;</span> customer.
				</p>
				
            </div>
            <div class="" ng-if="$ctrl.subcat==='rorscharch'">
            	<h2>We design for men. However, some designs are just too beautiful to keep to ourselves.<br/> 
                    Welcome to <span class='nic'>&nbsp;Nicholas & Sons&nbsp;</span> Women.
                </h2>
				<h3 class="text-muted" ng-if="$ctrl.subcat==='rorscharch'">
					Our Rorscharch collection is a study in contrasts: The design is big and bold; 
                    the colours are rich; yet, the scarf wears as light as Spring itself.<br/><br/>
                    And, how do we interpret the woman who wears a
                    <span class='nic'> Nicholas & Sons&nbsp;</span>Rorscharch? Quite simply, she is a woman who thinks for herself. She’s our kind of woman. 
				</h3>
				
            </div>
           
    	</div>
    	<div class="col-lg-7" >
    		<div class="col-lg-5 col-sm-5 hero-feature text-center" ng-repeat="item in $ctrl.products | filter: $ctrl.filterBy as whatever track by $index"
			ng-if="item.subcategory===$ctrl.subcat">
                <div class="thumbnail">
                	<a href="/products/{{item._id}}" >
                		<img ng-src="{{des.image}}" alt="" ng-repeat="des in $ctrl.designs | filter:{name:item.name}">
                		<!-- <uib-carousel interval="5000" >
				            <uib-slide>
				                <img ng-src="{{des.image}}" alt="" ng-repeat="des in $ctrl.designs | filter:{name:item.name}">
				            </uib-slide>
				            <uib-slide>
				                <img ng-src="{{item.image}}" alt="" >
				            </uib-slide>
				        </uib-carousel> -->
                	</a>
                    <div class="caption prod-caption">
                         <h4 class="ns-up ns-mb-0"><a class="ns-grey" ui-sref="products.view({productId:item._id})"><b>{{item.name}}</b></a></h4>
				          <p class="hidden-xs ns-mb-0 text-muted">{{item.info}}</p>
				          <span class="text-muted"><b>{{item.price.currency}} {{item.price.value}}</b></span>
				          <p><a ui-sref="products.view({productId:item._id})" class="ns-up ns-mb-0 ns-more ns-grey">MORE COLOURS</a></p>
                    </div>
                </div>
            </div>
    	</div>
	</div>
</section>
