
<section id="men" >
	<div class="ns-page-header"></div>
    
	<!-- <div class="row">
		<div class="col-xs-12"><shop-header claim="'MEN COLLECTIONS'" logo="false" ></shop-header></div>
	</div> --> 
	
	<p class="clearfix"></p>
	<p class="clearfix"></p>
	<p class="clearfix"></p>

    <div class="col-lg-10 col-lg-offset-1">
		<div class="col-md-6 col-lg-6"">
			<div class="ns_cat text-center"  style="padding:15px;position:relative"	>
				 
				<h3>SPRING / SUMMER</h3>
				<p>
				<div class="col-md-6 col-lg-6">
					<a href="/products/men/yatching"> Yachting Collection</a></div>
				<div class="col-md-6 col-lg-6">	
					<a href="/products/men/fingerprint"> Signature Series</a></div>
				</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="col-md-6 col-lg-6"">
			<div class="ns_cat text-center"  style="padding:15px;position:relative"	>
				 <!--<div class="overlay abs">&nbsp;<div class="clearfix">&nbsp;</div></div>-->
				 <h3>AUTUMN / WINTER</h3>
				<p>
					<div class="col-md-12 col-lg-12 text-center">
						<a href="/products/men/alligator"> Alligator Prints</a>
					</div>
				</p>
				<p>&nbsp;</p>
			</div>
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<div class="col-md-4">
			<img src="/modules/core/client/img/assets/alligator-rolls.jpg" class="img-responsive">
		</div>
		<div class="col-md-4">
			<img src="/modules/core/client/img/assets/yatching-rolls.jpg" class="img-responsive">
		</div>
		<div class="col-md-4">
			<img src="/modules/core/client/img/assets/fingerprint-rolls.jpg" class="img-responsive">
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div> 

    </div>

	
</section>
