<div class="modal-header">
    <h3 class="modal-title">{{ vm.selectedItem.name }} <span class="pull-right text-muted"><i class="fa fa-close" ng-click="vm.cancel()"></i>&nbsp;</span></h3>
</div>
<div class="modal-body">

    <div class="well text-center">
    	<img ng-src="{{vm.selectedItem.image}}" alt="" class="text-center">
    	<h3 class="lead text-center">
    	{{vm.selectedItem.name}}	
    	</h3>   		
	</div>

</div> 
    
<div class="modal-footer">
    <button class="btn btn-primary btn-lg" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning btn-lg" type="button" ng-click="vm.cancel()">CLOSE</button>
</div>
