<section>
    <div class="ns-page-header"></div>

    <div class="col-lg-10 col-lg-offset-1 col-sm-12">
    <div class="col-lg-12 col-sm-12 text-center">
        <span class="text-center">
         <a class="btn btn-lg btn-default" href="/products/stockist" > STOCKIST</a>
        
      </span>
   </div>  
   </div> 

   <p>&nbsp;</p>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
	<div class="col-lg-10 col-lg-offset-1 col-sm-12">
   
    <div class="col-md-6" >
        
		<span class='nic'> Nicholas & Sons&nbsp;</span> stockists understand that a sale is never a transaction.
	    Instead, it is an opportunity to continue an ongoing dialogue between a trusted sales advisor and a discerning client.<br/><br/>
	    Equally important, our stockists’ sales advisors know how to tell the story behind a garment and understand 
	    why it is the right piece for his/her client. They have the unique ability to make the familiar new again.
	    To make a client see scarves in a brand new light.<br/><br/>
	    If you think it's time to offer more choice in mens’ scarves, and if you think about clients like we do, we would love  
	    to talk to you about developing a relationship with <span class='nic'> Nicholas & Sons&nbsp;</span>.<br/><br/>
	    Please contact us on  <a href='mailto:info@nicholasandsons.com'><strong>info@nicholasandsons.com</strong></a> for details.     
      
    </div>
     <div class="col-md-6" >
     	<img src="/modules/core/client/img/assets/map.png" class="img-responsive">
     </div>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     

</div>
</section>
