<section>
<div class="ns-page-header"></div>

<div class="">
    <div class="row hero-feature">
        <div class="col-md-12 col-lg-12">
            <!-- PRODUCT -->
            <div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-6">
                <!-- Main Image -->
                <div class="product-main-image-container">
                    <span class="thumbnail product-main-image">
                        <img ng-src="{{vm.product.image}}" alt="" class="zoomImage">
                      <!--    <zoom mark-height="100" mark-width="100" src="{{vm.product.image}}" zoom-lvl="2"></zoom> -->
                    </span>
                </div>
                <!-- End Main Image -->
                <div class="visible-xs">
                    <p class="clearfix">&nbsp;</p>
                </div>
                <!-- Thumbnail Image -->
                <div class="col-xs-3 product-thumb-image">
                    <a href="images/detail1.jpg" class="thumbnail">
                        <img ng-src="{{vm.product.image}}" alt="">
                    </a>
                </div>
                <div class="col-xs-3 product-thumb-image">
                    <a href="images/detail2.jpg" class="thumbnail">
                        <img ng-src="{{vm.product.image}}" alt="">
                    </a>
                </div>
                <div class="col-xs-3 product-thumb-image">
                    <a href="images/detail3.jpg" class="thumbnail">
                        <img ng-src="{{vm.product.image}}" alt="">
                    </a>
                </div>
                <div class="col-xs-3 product-thumb-image">
                    <a href="images/detail1.jpg" class="thumbnail">
                        <img ng-src="{{vm.product.image}}" alt="">
                    </a>
                </div>
                <!-- End Thumbnail Image -->
            </div>

            <div class="visible-xs">
                <p class="clearfix visible-xs">&nbsp;</p>
                <p class="clearfix visible-xs">&nbsp;</p>
            </div>
            <!-- PRODUCT DETAIL-->
            <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="well product-short-detail">
                    <div class="">
                        <div class="col-md-12">
                            <h3 class="ns-mb-0 ">
                                <span class="text-primary" style="text-transform:uppercase">{{vm.product.name}}</span>
                            </h3>
                            <p class="ns-mb-0 ">
                                <span class="text-warning">{{vm.product.info}}</span>
                            </p>
                            <h3 class="">
                                <span class="text-muted">{{vm.product.price.currency}} {{vm.product.price.value}}</span>
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 input-qty-detail" >
                            <div class="input-group bootstrap-touchspin" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-disabled="!vm.qty>0" type="button" ng-click="vm.removeOne()">-</button>
                                </span>
                                <span class="input-group-addon ns-hide"></span>
                                <input type="text" class="form-control ns-block text-center" value="{{vm.qty}}" readonly="true">
                                <span class="input-group-addon ns-hide"></span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vm.addOne()" ng-disabled="vm.product.stock===0">+</button>
                                </span>
                            </div>
                            <!-- <p class="clearfix visible-xs">&nbsp;</p>
                            <button class="btn pull-left" ng-if="vm.product.stock>0"
                                    ng-class="{'btn-default':!vm.qty>0, 'btn-primary':vm.qty>0}"  ng-disabled="!vm.qty>0" ng-click="vm.addToCart(vm.product,vm.qty)"><i class="fa fa-shopping-cart"></i> 
                            &nbsp;&nbsp;Add <span  ng-if="vm.qty>0">{{vm.qty}} item(s)</span> to Bag</button>

                           -->  


                        </div>
                        <div class="clearfix">&nbsp;</div>
                       
                            <div class="col-xs-12">
                            <div class="">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 product-thumb-image-ns " ng-repeat="item in vm.products track by $index" ng-if="item.subcategory===vm.product.subcategory " >
                                    <a ui-sref="products.view({productId:item._id})" class="thumbnail" ng-class="{'active':item._id===vm.product._id}">
                                        <img ng-src="{{item.image}}" alt="" class="">
                                    </a>
                                </div>
                                <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 product-thumb-image" ng-repeat="item in vm.products track by $index" ng-if="item.subcategory===vm.product.subcategory ">
                                    <a ui-sref="products.view({productId:item._id})" class="pull-left">
                                        <img ng-src="{{item.image}}" alt="" class="img-resposive  ns-pic" ng-class="{'active':item._id===vm.product._id}">
                                    </a>
                                </div> -->
                            </div>
                        </div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-xs-12">
                            <div class="row">
                               
                                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" >
                                  
                                    <span class="green" ng-if="vm.product.stock>0"><i class="fa fa-check-circle"></i> IN STOCK </span>
                                     <ns-watchlist product="vm.product" btn-size="'btn-lg'" ng-if="authentication.user && vm.product.stock===0"> </ns-watchlist>
                                </div>
                               
                                
                            </div>
                        </div>
                       <div class="clearfix">&nbsp;</div>
                        
                        <div class="col-xs-12">
                            <div class="row">
                                
                                <div class="col-xs-10" >
                                     <a class="btn  btn-lg " ng-if="vm.product.stock>0" ng-class="{'btn-default':!vm.qty>0, 'btn-primary':vm.qty>0}"  ng-disabled="!vm.qty>0" ng-click="vm.addToCart(vm.product,vm.qty)"> ADD TO BAG </a>
                                      <a href ng-if="!authentication.user && vm.product.stock===0" class="btn btn-lg btn-default red ns-remove" ng-disabled="true">
                                        <i class="fa fa-exclamation-circle"></i> OUT OF STOCK
                                      </a>
                           <ns-wish product="vm.product"  btn-size="'btn-lg'" is-wish-list="vm.isWishList()" ng-if="authentication.user"></ns-wish>        
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                                           
                    </div>
                                                    
                </div>
                <div class="clearfix"></div><br>
                
                <!-- <a class="btn btn-block btn-lg btn-primary"> CHECKOUT</a> -->
            </div>

            <p class="clearfix">&nbsp;</p> 
            <p class="clearfix">&nbsp;</p> 
            <p class="clearfix">&nbsp;</p> 

             <!-- PRODUCT TABS-->
            <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2 product-detail-tab">
                <p></p>
                 <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="Nicholas Says">
                            <div class="well">
                                {{vm.product.description}}
                                {{vm.product.description}}
                                {{vm.product.description}}
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Product Details">
                            <div class="well">
                                {{vm.product.info}}
                                    {{vm.product.description}}
                                {{vm.product.description}}
                                {{vm.product.info}}
                                {{vm.product.info}}
                            </div>
                        </uib-tab>
                        <!-- <uib-tab index="1" heading="Delivery & Returns">
                            <div class="well">
                                {{vm.product.info}}
                                    {{vm.product.description}}
                                {{vm.product.description}}
                                {{vm.product.info}}
                                {{vm.product.info}}
                            </div>
                        </uib-tab> -->
                       
                </uib-tabset>
            </div>

        </div>
    </div>
    
    <p class="clearfix">&nbsp;</p> 
    <p class="clearfix">&nbsp;</p> 
    <p class="clearfix">&nbsp;</p> 

    <!-- RELATED PRODUCTS -->  
    <div class="row hero-feature">
        <div class="col-lg-12 col-md-12 col-sm-12" >
            
            <div class="col-lg-10 col-lg-offset-2 col-sm-12">
                <span class="title">RELATED PRODUCTS</span>
            </div>

            <div class="col-lg-10 col-lg-offset-2 col-sm-12">
                <div class="col-xs-6 col-lg-2 col-sm-4 col-xs-12 hero-feature text-center" 
                ng-repeat="item in vm.products | orderBy:'name' | filter: vm.filterBy as whatever track by $index" 
                ng-if="item.subcategory!==vm.product.subcategory && item.category===vm.product.category">
                    <div class="thumbnail">
                        <a href="/products/{{item._id}}" class="">
                          <img ng-src="{{item.image}}" alt="" >
                        </a>
                        <div class="caption prod-caption text-left">
                             <h4 class="ns-up ns-mb-0"><a class="ns-grey" ui-sref="products.view({productId:pic._id})"><b>{{item.name}}</b></a></h4>
                              <p class="hidden-xs ns-mb-0 text-muted">{{item.info}}</p>
                             <span class="text-muted"><b>{{item.price.currency}} {{item.price.value}}</b></span>
                             <p><a ui-sref="products.view({productId:item._id})" class="ns-up ns-mb-0 ns-more ns-grey">MORE COLOURS</a></p>
                                    <a href="#" class="btn btn-sm btn-default" ng-hide="item.stock===0"  ng-click="vm.addToCart(item,1)">
                                    <i class="fa fa-shopping-bag"></i> ADD TO BAG
                                    </a>
                                        <a href ng-if="!authentication.user && item.stock===0" class="btn btn-sm btn-default red ns-remove" ng-disabled="true">
                                        <i class="fa fa-exclamation-circle"></i> OUT OF STOCK
                                      </a>
                                  <ns-watchlist product="item" btn-size="'btn-sm'" ng-if="authentication.user && item.stock===0" > </ns-watchlist> 
                                  <ns-wish product="item" btn-size="'btn-sm'" ng-if="authentication.user"></ns-wish>
                                  <br/>
                              
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <p class="clearfix">&nbsp;</p> 
</div>
</section>
