<section class="row"  style="background-color:#e8ecf0;" >
  <div class="col-lg-8 col-lg-offset-2" style="background-color:#e8ecf0;">
   <div class="row">
    <div class="page-header" style="margin-top:0">
      <h1 class="my-account-title">ADMIN - {{$state.current.title}}</h1>
    </div>
    <nav class="col-sm-3 col-md-3 col-lg-3">
        <admin-menu></admin-menu>
     </nav>
    <div class="col-sm-9 col-md-8 col-lg-9 settings-view" >
      <div ui-view></div>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>

  </div>
</section>

