<section ng-controller="AdminDashboardController">
    

 	<div class="col-md-4 col-sm-3">
	    <ul class="list-group" >
	    	<li  class="list-group-item " >
		       	<div class="alert text-warning" href data-ui-sref="admin.products">
		       		<h4><i class="fa fa-cubes fa-2x"></i><br>Products</h4>
		       		<h5> {{vm.products.length}} item(s).</h5>
		       	</div>
	        </li>
	    </ul>
    </div>
    <div class="col-md-4">
	    <ul class="list-group" >
	    	<li  class="list-group-item " >
	       		<div class="alert text-info" href data-ui-sref="admin.users">
	       		<h4><i class="fa fa-users fa-2x"></i><br>Users</h4>
	       		<h5>{{vm.users.length}} item(s).</h5>
	       	</div>
	        </li>
	    </ul>
    </div>
    <div class="col-md-4">
	    <ul class="list-group" >
	    	<li  class="list-group-item " >
	       	<div class="alert  text-muted" href data-ui-sref="admin.orders">
	       		<h4><i class="fa fa-database fa-2x"></i><br class="hidden-lg"><br>Orders</h4>
	       		<h5>1 item(s)</h5>
	       	</div>
	        </li>
	    </ul>
	</div>
	<div class="col-md-4">
	    <ul class="list-group" >
	    	<li  class="list-group-item " >
	       	
	       	<div class="alert  text-purple" href data-ui-sref="admin.messages">
	       		<h4 class="text-purple"><i class="fa fa-envelope fa-2x"></i><br class="hidden-lg"><br>Messages</h4>
	       		<h5>1 item(s)</h5>
	       	</div>
	        </li>
	    </ul>
	</div>
	<div class="col-md-4">
	    <ul class="list-group" >
	    	<li  class="list-group-item " >
	       	<div class="alert  text-orange" href data-ui-sref="admin.cms">
	       		<h4 class="text-orange"><i class="fa fa-sliders fa-2x"></i><br class="hidden-lg"><br>Content</h4>
	       		<h5> Marketing Content</h5>
	       	</div>
	        </li>
	    </ul>
	</div>
</section>



