<section>


<div class="col-md-12">
    <div class="row">
      	<div class="panel panel-default">
			<div class="panel-heading ns-panel">
			  <h3 class="panel-title text-muted">
			    <strong> <i class="fa fa-edit"></i> {{vm.product.name}}</strong>
			     <span class="pull-right" ng-click="isCollapsed5 = !isCollapsed5">
			       <i class="fa fa-chevron-down" ng-if="!isCollapsed5"></i>
			       <i class="fa fa-chevron-right" ng-if="isCollapsed5"></i>
			     </span> 
			  </h3>
			</div>
			<div class="panel-body" uib-collapse="isCollapsed5">
			    <div class="row">
			       	<form name="productForm" ng-submit="update(productForm.$valid)" novalidate>
			       		<div class="col-md-12 clearfix">
			       			<p><img ng-src="{{vm.product.image}}" alt="" class="" style="width:100px"></p>
			       		</div>



					  	<div class="col-md-12">
					        <div class="form-group col-md-6" show-errors>
					          <label class="control-label" for="stock">Stock</label>
					          <div class="controls">
					            <input type="text" id="stock" name="stock" class="form-control" ng-model="vm.product.stock" placeholder="stock" required />
					            <div ng-messages="productForm.stock.$error" role="alert">
					              <p class="help-block error-text" ng-message="required">Stock is required.</p>
					            </div>
					          </div>
					        </div>

					        <div class="form-group col-md-6" show-errors>
								<label for="price">Price (GBP)</label>
								<input type="text" id="price" name="price" class="form-control" ng-model="vm.product.price.value" placeholder="Price" required />
									<div ng-messages="productForm.price.$error" role="alert">
									<p class="help-block error-text" ng-message="required">Price is required.</p>
								</div>
							</div>	  

						</div>



					  	<div class="col-md-12">


					        <div class="form-group col-md-6" show-errors>
					          <label for="firstName">Name</label>
					          <input type="text" id="name" name="name" class="form-control" ng-model="vm.product.name" placeholder="Name" required />
					          <div ng-messages="productForm.name.$error" role="alert">
					            <p class="help-block error-text" ng-message="required">Product name is required.</p>
					          </div>
					        </div>
					        	<div class="form-group col-md-12" show-errors>
					          <label for="lastName">Image</label>
					          <input type="text" id="image" name="image" class="form-control" ng-model="vm.product.image" placeholder="image" required ng-disabled="true"/><br>
					         
					          <div ng-messages="productForm.image.$error" role="alert">
					            <p class="help-block error-text" ng-message="required">Image is required.</p>
					          </div>
					        </div>
					        
					      </div>
						<div class="col-md-12">

							
					       	<div class="form-group col-md-12" show-errors>
					          <label for="lastName">Info</label>
					          <textarea class="form-control" cols="5" name="info" ng-model="vm.product.info" id="info" required ></textarea>
					          <div ng-messages="productForm.info.$error" role="alert">
					            <p class="help-block error-text" ng-message="required">Info is required.</p>
					          </div>
					        </div>
					       	<div class="form-group col-md-12" show-errors>
					          <label class="control-label" for="description">Description</label>
					          <div class="controls">
					            <textarea class="form-control " col="5" name="description" ng-model="vm.product.description" id="description" required ></textarea>
					            <div ng-messages="productForm.description.$error" role="alert">
					              <p class="help-block error-text" ng-message="required">Description is required.</p>
					            </div>
					          </div>
					        </div>

							

					        <!-- <div class="form-group">

					          <input type="submit" value="Update" class="btn btn-default">
					        </div> -->
					        <div ng-show="error" class="text-danger">
					          <strong ng-bind="error"></strong>
					        </div>
					  	</div>
					  	<p>&nbsp;</p>
					  	<p>&nbsp;</p>
					  	<p>&nbsp;</p>
					  	<hr/>
					  	<div class="col-md-12 clearfix">
						    <div class="">
						      <button class="btn btn-primary btn-lg pull-right" type="submit" value="Update">
						          UPDATE&nbsp;&nbsp;<i class="fa fa-spinner"></i>
						      </button>
						    </div>
						</div>
					</form>
			    </div>
			    
			</div>
    	</div>
    </div>
 </div>


<div class="col-md-12 clearfix">
    <div class="row">
      <button class="btn btn-default btn-lg" ui-sref="admin.products">
          <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;BACK TO PRODUCTS LIST
      </button>
    </div>
</div>



 <!-- <div class="col-md-12" style="margin-bottom:10px">
    <p class="lead text-muted">Product <span ng-bind="vm.product.name"></span></p>
    <p><img ng-src="{{vm.product.image}}" alt="" class="ns-pic"></p>
  </div>
  <form name="productForm" ng-submit="update(productForm.$valid)" novalidate>
 
  	<div class="col-md-6">
        <div class="form-group" show-errors>
          <label class="control-label" for="stock">Stock</label>
          <div class="controls">
            <input type="text" id="stock" name="stock" class="form-control" ng-model="vm.product.stock" placeholder="stock" required />
            <div ng-messages="productForm.stock.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Stock is required.</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="firstName">Name</label>
          <input type="text" id="name" name="name" class="form-control" ng-model="vm.product.name" placeholder="Name" required />
          <div ng-messages="productForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div>
        	<div class="form-group" show-errors>
          <label for="lastName">Image</label>
          <input type="text" id="image" name="image" class="form-control" ng-model="vm.product.image" placeholder="image" required /><br>
         
          <div ng-messages="productForm.image.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Image is required.</p>
          </div>
        </div>
        
      </div>
	<div class="col-md-6">

		<div class="form-group" show-errors>
			<label for="price">Price</label>
			<input type="text" id="price" name="price" class="form-control" ng-model="vm.product.price.value" placeholder="Price" required />
				<div ng-messages="productForm.price.$error" role="alert">
				<p class="help-block error-text" ng-message="required">Price is required.</p>
			</div>
		</div>	  
       	<div class="form-group" show-errors>
          <label for="lastName">Info</label>
          <input type="text" id="info" name="info" class="form-control" ng-model="vm.product.info" placeholder="Info" required />
          <div ng-messages="productForm.info.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Info is required.</p>
          </div>
        </div>
       	<div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea class="form-control" name="description" ng-model="vm.product.description" id="description" required ></textarea>
            <div ng-messages="productForm.description.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Description is required.</p>
            </div>
          </div>
        </div>

		

        <!-- <div class="form-group">

          <input type="submit" value="Update" class="btn btn-default">
        </div> -->
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
  	<!-- </div>
  	<p>&nbsp;</p>
  		<p>&nbsp;</p>
  			<p>&nbsp;</p>
	<div class="col-md-12 clearfix">
    <div class="">
      <button class="btn btn-default btn-lg" ui-sref="admin.users">
          <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;BACK TO PRODUCTS LIST
      </button>
      <button class="btn btn-primary btn-lg pull-right" type="submit" value="Update">
          UPDATE&nbsp;&nbsp;<i class="fa fa-spinner"></i>
      </button>
      
    </div>
  </div>
 -->



  <!-- <div class="list-group">
    <a  ui-sref="admin.product({productId: prod._id})" class="list-group-item">
      
      <h4 class="list-group-item-heading" >
      <span class="col-md-2"><img ng-src="{{vm.product.image}}" alt="" class="ns-pic"></span>
      <span class="col-md-6">&nbsp;{{vm.product.name}}<br/>
      	&nbsp;{{vm.product.info}}</span>
      </h4>
      <span class="col-md-4">
      <p class="list-group-item-text pull-right">
      <strong>	<span>STOCK :</span> {{vm.product.stock}}</strong>
      </p>
      </span>
      
      <div class="clearfix"></div>
    </a>
  </div> -->

  
</section>

