<section>
 
    <div class="row">
      <div class="col-md-4" style="margin-bottom: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  <div class="list-group">
    <a ng-repeat="prod in vm.products | filter : vm.search" ui-sref="admin.product({productId: prod._id})" class="list-group-item">
      
      <h4 class="list-group-item-heading" >
      <span class="col-md-2"><img ng-src="{{prod.image}}" alt="" class="ns-pic"></span>
      <span class="col-md-6">&nbsp;{{prod.name}}<br/>
      	&nbsp;{{prod.info}}</span>
      </h4>
      <span class="col-md-4">
      <p class="list-group-item-text pull-right">
      <strong>	<span>STOCK :</span> {{prod.stock}}</strong>
      </p>
      </span>
      
      <div class="clearfix"></div>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
</section>
