<section>

<div class="col-md-12">
    <div class="row">
      <div class="panel panel-default">
    <div class="panel-heading ns-panel">
      <h3 class="panel-title text-muted">
        <strong> <i class="fa fa-edit"></i> {{user.username}}</strong>
         <span class="pull-right" ng-click="isCollapsedEdit = !isCollapsedEdit">
           <i class="fa fa-chevron-down" ng-if="!isCollapsedEdit"></i>
           <i class="fa fa-chevron-right" ng-if="isCollapsedEdit"></i>
         </span> 
      </h3>
    </div>
    <div class="panel-body" uib-collapse="isCollapsedEdit">
        <div class="row">
          <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                  <label for="firstName">First Name</label>
                  <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required />
                  <div ng-messages="userForm.firstName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">First name is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label for="lastName">Last Name</label>
                  <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required />
                  <div ng-messages="userForm.lastName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Last name is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label class="control-label" for="roles">Roles</label>
                  <div class="controls">
                    <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required />
                    <div ng-messages="userForm.roles.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">At least one role is required.</p>
                    </div>
                  </div>
                </div>
                
                <div ng-show="error" class="text-danger">
                  <strong ng-bind="error"></strong>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" show-errors>
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required />
                  <div ng-messages="userForm.email.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Email is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label for="lastName">User Name</label>
                  <input type="text" id="userName" name="userName" class="form-control" ng-model="user.username" placeholder="userName" required />
                  <div ng-messages="userForm.userName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">username is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label class="control-label" for="roles">Id</label>
                  <div class="controls">
                    <input class="form-control" type="text" name="id" ng-model="user._id" id="id" required ng-disabled="true"/>
                    <div ng-messages="userForm.id.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Id is required.</p>
                    </div>
                  </div>
                </div>
                
                <div ng-show="error" class="text-danger">
                  <strong ng-bind="error"></strong>
                </div>
            </div>
            <p class="clearfix">&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <hr/>
            <div class="col-md-12 clearfix">
                <div class="">
                    <button class="btn btn-primary btn-lg pull-right" type="submit" value="Update">
                        UPDATE&nbsp;&nbsp;<i class="fa fa-spinner"></i>
                    </button>
              </div>
            </div> 
          </form>
             
        </div>
        
        
    </div>
    </div>
    </div>
  </div>

</div>

<div class="col-md-12 clearfix">
    <div class="row">
      <button class="btn btn-default btn-lg" ui-sref="admin.user({userId: user._id})">
          <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;BACK TO USER DETAILS
      </button>
    </div>
</div>

</section>
