<section>
   <div class="col-md-12" style="margin-top:0">
      <div class="row">
        <p class="lead text-muted">User <span ng-bind="user.displayName"></span></p>
      </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default ns-pan">
    <div class="panel-heading ns-panel">
      <h3 class="panel-title" ng-click="isCollapsed = !isCollapsed">
         <strong>User Details</strong>
         <span class="pull-right" >
           <i class="fa fa-chevron-down" ng-if="!isCollapsed"></i>
           <i class="fa fa-chevron-right" ng-if="isCollapsed"></i>
         </span> 
      </h3>
    </div>
    <div class="panel-body" uib-collapse="isCollapsed">
        <div class="row">
          <div class="col-md-3"><strong>First Name</strong></div>
          <div class="col-md-6" ng-bind="user.firstName"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Last Name</strong></div>
          <div class="col-md-6" ng-bind="user.lastName"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Email</strong></div>
          <div class="col-md-6" ng-bind="user.email"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Wishlist</strong></div>
          <div class="col-md-6" ng-bind="user.wishlist.length"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Watchlist</strong></div>
          <div class="col-md-6" ng-bind="user.watchlist.length"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Provider</strong></div>
          <div class="col-md-6" ng-bind="user.provider"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Created</strong></div>
          <div class="col-md-6" ng-bind="user.created"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Roles</strong></div>
          <div class="col-md-6" ng-bind="user.roles"></div>
        </div>
    </div>
      

    </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default">
    <div class="panel-heading ns-panel">
      <h3 class="panel-title text-muted" ng-click="isCollapsed2 = !isCollapsed2">
        <strong>Address</strong>
         <span class="pull-right" >
           <i class="fa fa-chevron-down" ng-if="!isCollapsed2"></i>
           <i class="fa fa-chevron-right" ng-if="isCollapsed2"></i>
         </span> 
      </h3>
    </div>
    <div class="panel-body" uib-collapse="isCollapsed2">
        <div class="row">
          <div class="col-md-3"><strong>Address Line 1</strong></div>
          <div class="col-md-6" ng-bind="user.address[0].addressLine1"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Address Line 2</strong></div>
          <div class="col-md-6" ng-bind="user.address[0].addressLine2"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Region</strong></div>
          <div class="col-md-6" ng-bind="user.address[0].region"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>City</strong></div>
          <div class="col-md-6" ng-bind="user.address[0].city"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>UK Post Code</strong></div>
          <div class="col-md-6" ng-bind="user.address[0].postalCode"></div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3"><strong>Country</strong></div>
          <div class="col-md-6" ng-bind="user.address[0].country"></div>
        </div>
    </div>
    </div>
    </div>
  </div>

   <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default">
    <div class="panel-heading ns-panel">
      <h3 class="panel-title text-muted" ng-click="isCollapsed3 = !isCollapsed3">
        <strong>Shopping Bag</strong>
         <span class="pull-right" >
           <i class="fa fa-chevron-down" ng-if="!isCollapsed3"></i>
           <i class="fa fa-chevron-right" ng-if="isCollapsed3"></i>
         </span> 
      </h3>
    </div>
    <div class="panel-body" uib-collapse="isCollapsed3">
        <div class="row">
          <div class="col-md-3"><strong>Products</strong></div>
          <div class="col-md-6" ng-bind="user.wishlist.length"></div>
        </div>
        <hr/>
        
    </div>
    </div>
    </div>
  </div>
   <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default">
    <div class="panel-heading ns-panel">
      <h3 class="panel-title text-muted" ng-click="isCollapsed4 = !isCollapsed4">
        <strong>Wish List</strong>
         <span class="pull-right" >
           <i class="fa fa-chevron-down" ng-if="!isCollapsed4"></i>
           <i class="fa fa-chevron-right" ng-if="isCollapsed4"></i>
         </span> 
      </h3>
    </div>
    <div class="panel-body" uib-collapse="isCollapsed4">
        <div class="row">
          <div class="col-md-3"><strong>Products</strong></div>
          <div class="col-md-6" ng-bind="user.wishlist.length"></div>
        </div>
        <hr/>
        
    </div>
    </div>
    </div>
  </div>

   <div class="col-md-12">
    <div class="row">
      <div class="panel panel-default">
    <div class="panel-heading ns-panel">
      <h3 class="panel-title text-muted" ng-click="isCollapsed5 = !isCollapsed5">
        <strong>Watch List</strong>
         <span class="pull-right" >
           <i class="fa fa-chevron-down" ng-if="!isCollapsed5"></i>
           <i class="fa fa-chevron-right" ng-if="isCollapsed5"></i>
         </span> 
      </h3>
    </div>
    <div class="panel-body" uib-collapse="isCollapsed5">
        <div class="row">
          <div class="col-md-3"><strong>Products</strong></div>
          <div class="col-md-6" ng-bind="user.wishlist.length"></div>
        </div>
        <hr/>
        
    </div>
    </div>
    </div>
  </div>

  <div class="col-md-12 clearfix">
    <div class="row">
      <a class="btn btn-default btn-lg" ui-sref="admin.users">
          <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;BACK TO USERS LIST
      </a>
      <a class="btn btn-primary btn-lg pull-right" ui-sref="admin.user-edit({userId: user._id})">
          <i class="fa fa-edit"></i> EDIT USER&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>


</section>
