

<div class="panel panel-default" role="menu" >
        <div class="panel-heading" style="background-color:white" >
            <h3 class="text-muted" ng-click="isBagCollapsed = !isBagCollapsed" ng-init="isBagCollapsed=false">
                <span>
                    <i class="fa fa fa-check-circle green"></i> 
                </span>
                <strong>SHOPPING BAG</strong> <small>({{totalProducts}} item<span ng-show="totalProducts>1">s</span>)</small>
                <span class="pull-right" >
                   <i class="fa fa-chevron-down" ng-if="!isBagCollapsed"></i>
                   <i class="fa fa-chevron-right" ng-if="isBagCollapsed"></i>
                 
                 </span> 
            </h3>
        </div>
        <div uib-collapse="isBagCollapsed" >
        <table class="table table-hover" style="font-size:1.4em;margin-bottom:0">
            <thead>
                <tr>
                    <th>PRODUCT</th>
                    <th>QTY</th>    
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cart.products track by $index">
                    <td>{{item.product.name}}</td>
                    <td>{{item.qty}} </td>
                    <td>£{{item.product.price.value}}</td>
                </tr>
            </tbody>
            <tfooter>
            <tr class="text-muted">
                <td>DELIVERY</td>
                <td><sup>*</sup>included.</td>
                <td><strong>&nbsp;</strong></td>
            </tr>
           <tr class="bg-warning text-muted" style="font-size:1.5em">
                <td>TOTAL</td>
                <td>{{totalProducts}}</td>
                <td>&pound; {{totalPrice| number:2 || '0.00'}}</td>
            </tr>
            </tfooter>
        </table>
        </div>
    </div>

