<!--<span>
	 <i class="fa fa-shopping-cart"></i> 
     <span class="badge ns-badge" style="">{{cartItems.length}}</span>
	
</span>-->



<div class="" style="height:34px;">
<div class="pull-left">
	<div class="dropdown " uib-dropdown>
	<a id="simple-dropdown1" class="dropdown-toggle" uib-dropdown-toggle role="button">
		<img src="/modules/core/client/img/assets/bag.png" style="height:25px;opacity:0.4"/> 
		<ns-count class="ns-count" total-products="vc.totalProducts"></ns-count>
		<!-- <span style="position:absolute;margin-top:-18px;padding-left:8px;font-size:11px;color:#bbb">&nbsp;{{vc.totalProducts}}</span> -->
	</a>
	
	<ul class="dropdown-menu cart-content" role="menu" uib-dropdown-menu aria-labelledby="simple-dropdown1">
		<li ng-repeat="item in vc.cartItems track by $index">

			<a href="shop/product/{{item.product._id}}">
				<b class="arf">{{item.product.name}}</b><br/>
				<span>x{{item.qty}} £{{item.product.price.value}}</span>
			</a>
		</li>
		<li ng-if="vc.cartItems.length===0">
			<a href="detail.html">
				<b>No items</b>
				
			</a>
		</li>
		<li class="divider"></li>
		<li><a class="total-cart">Total: £{{vc.totalPrice || '0'}}</a></li>
		<li class="divider"></li>
		<li> 
			<p class="text-center" style="padding:0.3em 1em;color:white">
				<a class="btn btn-default btn-block" ng-show="!vc.authentication.user" ui-sref="cart.guest">VIEW BAG</a>
				<a class="btn btn-default btn-block"
				ng-show="vc.authentication.user" ui-sref="cart.view({cartId:vc.authentication.user.cart})">VIEW BAG</a>
				
			</p>
			
		</li>
		<!-- <li class="divider" ng-show="vc.authentication.user"></li> -->
		<li ng-show="vc.authentication.user && vc.cartItems.length>0" > 
				
			<a  href="checkout/step1" class="text-center" >CHECKOUT</a>
			
		</li>
	</ul>
	</div>
</div>
</div>







<!-- <div class="btn-group btn-group-cart" uib-dropdown>
		<div class="dropdown-toggle" uib-dropdown-toggle>

			<span class="pull-left"><img src="/modules/core/client/img/assets/bag.png" style="height:25px"/></span>
			<span class="pull-left">Shopping Bag: {{vc.totalProducts}} item(s) </span>
		</div>
		<ul class="dropdown-menu cart-content" role="menu" uib-dropdown-menu>
			<li ng-repeat="item in vc.cartItems track by $index">
				<a href="shop/product/{{item.product._id}}">
					<b class="arf">{{item.product.name}}</b><br/>
					<span>x{{item.qty}} £{{item.product.price.value}}</span>
				</a>
			</li>
			<li ng-if="cartItems.length===0">
				<a href="detail.html">
					<b>No items</b>
					
				</a>
			</li>
			<li class="divider"></li>
			<li><a class="total-cart">Total: £{{vc.totalPrice || '0'}}</a></li>
			<li class="divider"></li>
			<li> 
				<p class="text-center" style="padding:0.3em 1em;color:white">
					<a class="btn btn-primary" style="color:white">CHECKOUT</a>
				</p>
				
			</li>
		</ul>
	</div> -->
