
.ns-badge {
    //margin-top: 1px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 6px;
    font-size: 0.8em;
    font-weight: 200; 
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
   
    border-radius: 10px;
    background-color:#CE5C5C;border-radius:50%;
}

.ns-cart-header{padding:1em 1em;background-color:#f1f1f1}
.ns-cart-item{padding:2em 1em}
.ns-cart-footer{padding:1em 1em;}
.ns-uc{text-transform:uppercase}

 ul.cart-content {
        
        li{
            a:hover{
               b.arf{color:white!important}
            } 
            
            a.total-cart:hover{
               background-color: #fff!important;
               color:#999!important;
            } 
           
        }        
    }
  
 
 .ns-count{position:absolute;margin-top:-18px;font-size:11px;color:#bbb;opacity:0.4}   

.btn-group-cart,.btn-group-cart .btn{
	width: 100%;
}
.btn-group-cart .btn{
	text-align: center;
}
.btn-group-cart .dropdown-menu{
	z-index: 1001;
	left: inherit;
	right: 0;
}
.btn-group-cart .icon-cart{
	margin-right: 5px;
}
ul.cart-content{
	min-width: 250px;
}
ul.cart-content b{
	font-weight: normal;
	display: block;
	font-family: 'Droid Sans', sans-serif;
	/*font-size: 16px;*/
	color:  #4c7ed3;
}