<div class="modal-header bg-warning">
    <h3 class="modal-title">REMOVE ITEM(S) <span class="pull-right text-muted"><i class="fa fa-close" ng-click="vm.cancel()"></i>&nbsp;</span></h3>
</div>
<div class="modal-body">
    <div class="well">
   	<p class="lead">Are you sure you want to remove this item from your shopping bag?</p>
   		
   		<p class="lead">
    		<span class="text-muted">Item</span> : <b>{{ vm.selectedItem.name }}</b> 
    	</p>
    	<p class="lead">
    		<span class="text-muted">Price</span> : 
    		<b><span class="text-info"> {{ vm.selectedItem.price.currency }} {{ vm.selectedItem.price.value }}</span></b>     		
    	</p>
    	
    	<p class="lead">
    		<span class="text-muted">Qty&nbsp;</span> : 
    		<b><span class="text-info"> {{ vm.qty }}</span></b>     		
    	</p>
    	<p class="lead">
    		<span class="text-muted">Total</span> : 
    		<b><span class="text-info"> {{ vm.selectedItem.price.currency }} {{ vm.subtotal }}</span></b> 
    	</p>
	</div>
</div> 

    
<div class="modal-footer">
    <button class="btn btn-primary btn-lg" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning btn-lg" type="button" ng-click="vm.cancel()">CANCEL</button>
</div>