<section>




    <div class="col-lg-8 col-lg-offset-2" ng-show="vm.cart.products.length===0" >
        <div class="col-md-12 alert alert-info ns-alert" >
        <br/>
                <div class="col-md-12 text-center">
                   <p class="lead">
                   <span class="text-muted">  There are no items in your shopping bag. Change that, visit our shop </span>
                   <a ui-sref="products"> here </a>
                    
                </div>
               
        </div> 
    </div>


    <div class="ns-page-header"></div>
    <div class="col-lg-8 col-lg-offset-2 col-sm-12">
        <h1 class="title">Your Shopping Cart 
           <span class="pull-right" ng-show="vm.cart.products.length>0"> <button ui-sref="checkout.step1" class="btn btn-default ns-shop-btn hidden-xs ">GO TO CHECKOUT &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button></span>
        </h1>
    </div>
   <!--  <div class="col-lg-12 col-sm-12">
         <span class="pull-right"> <button class="btn btn-primary btn-md ">GO TO CHECKOUT &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button></span>
    </div> -->

    <div class="col-lg-8 col-lg-offset-2">
        <ul class="list-group">
            <!-- HEADER CART --> 
            <li class="list-group-item ns-cart-header hidden-xs">
                <span class="col-md-5 ">
                    PRODUCT          
                </span>
                <span class="col-md-1 text-center">
                    PRICE          
                </span>
                <span class="col-md-2 text-center">
                    QTY
                </span>
                <span class="col-md-2 text-center">
                    SUBTOTAL
                </span>
                <span class="col-md-1 text-right">
                    REMOVE          
                </span>
                <div class="clearfix"></div>   
            </li>
            <!-- CONTENT CART --> 
            <li data-ng-repeat="cartItem in vm.cart.products" 
                class="list-group-item ns-cart-item ns-list-group">

                <div class=" col-xs-4 col-md-1">
                    <img ng-src="{{cartItem.product.image}}" alt="" class="ns-pic">
                </div>
                <div class=" col-xs-4 col-md-4">
                    <div data-ui-sref="products.view({ productId: cartItem.product._id })">
                       <p class="text-primary ns-up">{{cartItem.product.name}}</p>
                       <p class="text-info">
                           {{cartItem.product.info}} 
                       </p>
                     </div>
                </div>
                <div class="col-xs-4 col-md-1 ns-pd-top-20">
                    <h4 class="text-center">
                        <span class="text-muted">{{cartItem.product.price.currency}} {{cartItem.product.price.value}}</span>
                    </h4>
                </div>
                <div class="clearfix visible-xs ">&nbsp;</div>    
                <div class="col-xs-8 col-md-2 ns-pd-top-20">
                    <div class="input-group bootstrap-touchspin">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-disabled="cartItem.qty===1"  type="button" ng-click="vm.remove(cartItem.product,1)">-</button>
                        </span>
                        <span class="input-group-addon ns-hide"></span>
                        <input type="text" class="form-control text-center ns-block" value="{{cartItem.qty}}" readonly="true">
                        <span class="input-group-addon ns-block"></span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.addToCart(cartItem.product,1)">+</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 text-center ns-pd-top-20">
                    <h4 class="green">
                        {{cartItem.product.price.currency}} {{cartItem.qty*cartItem.product.price.value}}
                    </h4>
                </div>
                <div class="col-xs-4 col-md-1 ns-pd-top-20" >
                  <div class="text-center" >
                    <a href="#" class="btn btn-default red ns-remove" ng-click="vm.remove(cartItem.product,cartItem.qty)"><i class="fa fa-trash"></i></a>
                  </div>  
                </div>
                
                <div class="clearfix"></div> 
            </li> 
            <!-- FOOTER CART -->   
            <li class="list-group-item ns-cart-footer"   >    
                <div class="col-md-8 text-center">
                    <h3 class="text-muted pull-right">
                        <span class="pull-left"><i class="fa fa-shopping-cart icon-cart"></i>&nbsp;&nbsp;</span>
                        <span class="pull-left">Shopping Cart: {{vm.cart.totalProducts}} item(s) </span>
                    </h3>
                </div>
                <div class="col-md-2 text-center">
                    <h3 class="text-info">&pound; {{vm.cart.totalPrice}}</h3>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 1em;">
                  
                </div>
                <div class="clearfix"></div> 
            </li>
        </ul>
    </div>

    <div class="col-lg-8 col-lg-offset-2 hidden-xs">
        <button type="button" class="btn btn-default btn-lg ns-shop-btn" ui-sref="products.list"> <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;CONTINUE SHOPPING </button>
         <button ng-show="vm.cart.products.length>0" class="btn btn-default btn-lg ns-shop-btn pull-right" ui-sref="checkout.step1">GO TO CHECKOUT &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
        <br/>
    </div>
    <div class="col-lg-10 col-lg-offset-1 visible-xs">
        <button type="button" class="btn btn-default btn-block ns-shop-btn" ui-sref="products.list"> <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;CONTINUE SHOPPING </button><br/>
         <button ui-sref="checkout.step1" ng-show="vm.cart.products.length>0" class="btn btn-primary btn-block">GO TO CHECKOUT &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button>
        
    </div>

</section>
