<section>
  <div class="page-header">
    <h1>Cart</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="cart in vm.carts"
       data-ui-sref="carts.view({ cartId: cart._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="cart.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="cart.user" data-ng-bind="cart.user.displayName"></span>
        <span data-ng-if="!cart.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="cart.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.carts.$resolved && !vm.carts.length">
    No Cart yet, why don't you <a data-ui-sref="carts.create">create one</a>?
  </div>
</section>
