<section>
    <div class="ns-page-header"></div>
   
   		
  	<div class="col-lg-10 col-lg-offset-1 col-sm-12" ng-if="vm.cart">
        <div class="col-md-12 alert alert-info ns-alert" >
        <br/>
   			 	<div class="col-md-12 text-center">
                   <p class="lead">
                   <a class="" ui-sref="authentication.signin">Login </a>
                   <span class="text-muted">  or </span>
                   <a ui-sref="authentication.signup"> Register </a>
                   <span class="text-muted">  now </span>
                   <span class="text-muted"> to save your items and proceed to a secure checkout with stripe. </span></p>         
                </div>
               
   		</div> 
    </div>
    <div class="col-lg-10 col-lg-offset-1 col-sm-12">
        <h1 class="title">Shopping Bag</h1>
    </div>
    <div class="col-lg-10 col-lg-offset-1" ng-if="!vm.cart || vm.cart.products.length===0">
        <ul class="list-group">
            <!-- NO ITEMS CART --> 
            <li class="list-group-item ns-cart-header hidden-xs">
                <h4 class=" text-center">
                    Theres no items in your shopping bag.         
                </h4>
                <div class="clearfix"></div>   
            </li>
           
        </ul>
    </div>

    <div class="col-lg-10 col-lg-offset-1" ng-if="vm.cart.products.length>0">
        <ul class="list-group">
            <!-- HEADER CART --> 
            <li class="list-group-item ns-cart-header hidden-xs">
                <span class="col-md-5 ">
                    PRODUCT          
                </span>
                <span class="col-md-1 text-center">
                    PRICE          
                </span>
                <span class="col-md-2 text-center">
                    QTY
                </span>
                <span class="col-md-2 text-center">
                    SUBTOTAL
                </span>
                <span class="col-md-1 text-right">
                    REMOVE          
                </span>
                <div class="clearfix"></div>   
            </li>
            <!-- CONTENT CART --> 
            <li data-ng-repeat="cartItem in vm.cart.products" 
                class="list-group-item ns-cart-item ns-list-group" ng-if="vm.cart">

                <div class=" col-xs-4 col-md-1">
                    <img ng-src="{{cartItem.product.image}}" alt="" class="ns-pic">
                </div>
                <div class=" col-xs-4 col-md-4">
                    <div data-ui-sref="products.view({ productId: cartItem.product._id })">
                       <p class="text-primary ns-up">{{cartItem.product.name}}</p>
                       <p class="text-info">
                           {{cartItem.product.info}} 
                       </p>
                     </div>
                </div>
                <div class="col-xs-4 col-md-1 ns-pd-top-20">
                    <h4 class="text-center">
                        <span class="text-muted">{{cartItem.product.price.currency}} {{cartItem.product.price.value}}</span>
                    </h4>
                </div>
                <div class="clearfix visible-xs ">&nbsp;</div>    
                <div class="col-xs-8 col-md-2 ns-pd-top-20">
                    <div class="input-group bootstrap-touchspin">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-disabled="cartItem.qty===1"  type="button" ng-click="vm.remove(cartItem.product,1)">-</button>
                        </span>
                        <span class="input-group-addon ns-hide"></span>
                        <input type="text" class="form-control text-center ns-block" value="{{cartItem.qty}}" readonly="true">
                        <span class="input-group-addon ns-block"></span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.addToCart(cartItem.product,1)">+</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2 text-center ns-pd-top-20">
                    <h4 class="green">
                        {{cartItem.product.price.currency}} {{cartItem.qty*cartItem.product.price.value}}
                    </h4>
                </div>
                <div class="col-xs-4 col-md-1 ns-pd-top-20" >
                  <div class="" >
                    <a href="#" class="btn btn-default red ns-remove" ng-click="vm.remove(cartItem.product,cartItem.qty)"><i class="fa fa-trash"></i> REMOVE</a>
                  </div>  
                </div>
                
                <div class="clearfix"></div> 
            </li> 
            <!-- FOOTER CART -->   
            <li class="list-group-item ns-cart-footer"   >    
                <div class="col-md-8 text-center">
                    <h3 class="text-muted pull-right">
                        <span class="pull-left"><i class="fa fa-shopping-bag	 icon-cart"></i>&nbsp;&nbsp;</span>
                        <span class="pull-left">Shopping Bag: {{vm.totalProducts}} item(s) </span>
                    </h3>
                </div>
                <div class="col-md-2 text-center">
                    <h3 class="text-info">&pound; {{vm.totalPrice}}</h3>
                </div>
                <div class="col-md-2 text-center" style="padding-top: 1em;">
                   <!-- <button class="btn btn-primary btn-md hidden-xs">GO TO CHECKOUT &nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></button> -->
                </div>
                <div class="clearfix"></div> 
            </li>
        </ul>
    </div>

    <div class="col-lg-10 col-lg-offset-1 hidden-xs">
        <button type="button" class="btn  ns-shop-btn btn-lg" ui-sref="products.list"> <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;GO SHOPPING </button>
        <br/>
    </div>
    <div class="col-lg-10 col-lg-offset-1 visible-xs">
        <button type="button" class="btn  btn-block ns-shop-btn" ui-sref="products.list"> <i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;GO SHOPPING </button><br/>
         
        
    </div>

</section>
