

<div>

<div class="col-lg-6 center-block col-xs-12">
 <h4 class="text-muted text-center">
  <span class="nic">Nicholas & Sons&nbsp;</span> is subtle, yet engaging. Like our clients.
      Our clients have quiet money. They expect quality materials. They respect artisan craftsmanship and tailoring.
      And, they appreciate clothing with a story to tell. More important, our clients are unique individuals who have
      the confidence to dress for themselves. They desire clothing and accessories that not only engage the senses, their passions,
      and their intellect, but also tell the world a little something about what makes them tick. Is that you?
  </h4>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="col-lg-10 col-lg-offset-1">
    <div id='wrapper' ng-show="animate" class="animate-show animate-hide">
		<img src="/modules/core/client/img/assets/home.jpeg" class="img-responsive">
	</div>
 </div>



</div>