/*--middle--*/
.content-middle {
  margin-top: 4em;
  background: url('/modules/core/client/img/assets/home.jpg') no-repeat center;
  height: 190px ;
  display: block;
  background-size: cover;
}
.animate-show,
.animate-hide {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -ms-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
}
.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}
.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
@media (max-width: 420px) {
  .mid-content {
    width: 70%;
  }
}
