.ns-default {
  color: #999;
}
.ns-wish {
  color: #1DAEF9;
}
.ns-icon {
  font-size: 1.2em;
}
.ns-wish-btn {
  color: #1DAEF9;
  background-color: #fff;
  box-shadow: none;
  border-color: #fff;
}
.ns-wish-btn:hover {
  color: #fff;
  background-color: #1DAEF9;
  box-shadow: none;
  border-color: #1DAEF9;
}
.ns-wish-btn:hover .ns-wish {
  color: #fff;
}
.ns-wished {
  border-color: #fff;
}
.ns-wished:hover {
  background-color: #1DAEF9;
  border-color: #1DAEF9;
}
.ns-wished:hover .ns-icon {
  color: white;
}
.ns-watched {
  border-color: #fff;
}
.ns-watched:hover {
  background-color: #4c7ed3;
  border-color: #4c7ed3;
}
.ns-watched:hover .ns-icon {
  color: white;
}
