
<a href ng-if="!vm.isWishList(vm.product._id)" class="btn btn-default {{vm.btnSize}} ns-wish-btn" ng-class="{{vm.btnSize}}" 
ng-click="vm.AddWishList(vm.product._id)" popover-placement="top"  uib-popover="Click to add {{vm.product.name}} to your Wishlist." 
        popover-trigger="mouseenter" >
        <i class="fa fa-heart-o ns-icon ns-wish " ></i> <span ></span>
</a>

<a href ng-if="vm.isWishList(vm.product._id)" ng-click="vm.removeWishList(vm.product._id)"
popover-placement="bottom-left"  class="btn btn-default {{vm.btnSize}} ns-wished" ng-class="{{vm.btnSize}}"
uib-popover="Click to remove {{vm.product.name}} from your Wishlist." popover-trigger="mouseenter" >
<i class="fa fa-heart ns-wish ns-icon" ></i>
</a>