<div class="services">
		<div class="container">
			<div class="service-top">
				
			</div>
			<div class="services-grid">
			<div class="col-md-4 service-top1">
		   			<div class=" ser-grid text-center">	
		   				<a href="/privacy-policy" class="hi-icon hi-icon-archive fa fa-shield blue"> </a>
		   				<h2>PRIVACY</h2>
		   			</div>
		   			<div  class="text-center">
		   				
		   				<p class="lead text-muted">
		   				We value your privacy. <br/>
						 At Nicholas & Sons we do not store credit card details and will never share customer details with any 3rd parties. 
		   				</p>
		   		    	
		   		    </div>
		   		   
					<div class="clearfix"> </div>
		   		</div>
				<div class="col-md-4 service-top1">
		   			<div class=" ser-grid text-center">	
		   				<a href="https://sslanalyzer.comodoca.com/?url={{host}}" target="_blank" class="hi-icon hi-icon-archive fa fa-lock green"> </a>
		   				<h2>SECURE</h2>
		   			</div>
		   			<div  class="text-center">
		   				
		   				<p class="lead text-muted">
							SSL (Secure Sockets Layer) certificates are an integral part of website security. Our site’s SSL certificate enables you to encrypt the data you send, such as credit card information, names or addresses so it can’t be accessed by hackers.. 
		   				</p>
		   		    	
		   		    </div>
		   		   
					<div class="clearfix"> </div>
		   		</div>
		   		<div class="col-md-4 service-top1">
		   			<div class=" ser-grid text-center ">	
		   				<a href="/shipping-methods" class="hi-icon hi-icon-archive fa fa-space-shuttle purple"> </a>
		   				<h2>FAST DELIVERY</h2>
		   			</div>
		   			<div  class="text-center">
		   				
		   				<p>We provide reliable, fast and efficient delivery services with regular updates on your enquiry to relieve you of any hassle. Lorem Ipsum is not simply random text. 
		   				</p>
		   				
			   		    
		   		    </div>
					<div class="clearfix"> </div>
		   	   </div>
				
		   	<div class="clearfix"> </div>
		 </div>
		 	
		</div>
	</div>