/*--services--*/
.services{
	background-color: #ddd

}

.service-top h3{
	text-align:center;
	color: #000;
  	font-size: 3em;
  	padding: 0 0 0.3em;
  	
}


.service-top p{
	color: #a3a3a3;
  	font-size: 0.9em;
  	line-height: 2em;
  	text-align:center;
}
.services{
  	padding: 2em 0 3em;
}
.service-top {
  	padding: 0em 0 4em;
}
.ser-top{
	float:right;
	width:77%;
}
.ser-top h4{
	font-size: 1.4em;
	text-transform: uppercase;
	
	color:#333 ;
}
.service-top1 p{
	color:#a3a3a3;
	font-size: 1.3em;
	line-height:2em;
	margin:0.5em 0 0em;
}
.ser-grid h2{
	color: #777;
	font-size: 2.5em;
}
.services-grid {
  	margin: 0em 0 2em;
}

.hi-icon {
	display: inline-block;
	cursor: pointer;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color:#8e8e8e;
  	border:3px solid #f1f1f1;
  	line-height: 4.5em;
  	font-size: 1em;
}

.hi-icon.green{color:green;}
.hi-icon.purple{color:#a81eb1;}
.hi-icon.blue{color:#4c7ed3;}

.hi-icon:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-size: 1.7em;
	display: block;
}

/* Effect 8 */
.ser-grid .hi-icon {
	background: rgba(255,255,255,1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}
.ser-grid .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.ser-grid .hi-icon:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color:#8e8e8e;
	  text-decoration: none;
}

.ser-grid .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #8e8e8e, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}