<section class="row" ng-controller="ChangePasswordController">
<div class="ns-page-header visible-xs" style="background-color:white"></div>
    <div class="col-xs-12 col-md-6 col-md-offset-1 " >
        
        <ul class="list-group ">
            <li class="list-group-item ns-cart-header account " ng-class="{'is-updating':updateAddress}">
                <h4 class="  ns-up">
                    CHANGE PASSWORD
                    <span class="pull-right">
                      <i class="fa fa-warning green"></i> 
                    </span>
                </h4>
                
                <div class="clearfix"></div> 
            </li>
            <li  class="list-group-item ns-list-group account" >

                <div class="col-xs-12" >
                    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
                        <fieldset>
                            <div class="form-group" show-errors>
                                <label for="currentPassword">&nbsp;Current Password</label>
                                <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword" placeholder="Current Password" required>
                                <div ng-messages="passwordForm.currentPassword.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Your current password is required.</p>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                                <label for="newPassword">&nbsp;New Password</label>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="New Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
                                <div ng-messages="passwordForm.newPassword.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Enter a new password.</p>
                                    <div ng-repeat="passwordError in passwordErrors">
                                        <p class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{passwordError}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                                <label for="verifyPassword">Verify Password</label>
                                <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.newPassword" required>
                                <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Verify your new password.</p>
                                    <p class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-show="!passwordForm.newPassword.$error.required">
                                <label>Password Requirements</label>
                                <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-primary btn-block">Save Password</button>
                            </div>
                            <div ng-show="success" class="text-center text-success">
                                <strong>Password Changed Successfully</strong>
                            </div>
                            <div ng-show="error" class="text-center text-danger">
                                <strong ng-bind="error"></strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
                 <div class="clearfix"></div>  
            </li>
           
        </ul>

    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="alert alert-warning text-center">
            <i class="fa fa-info-circle fa-2x"></i>
            <p>
                some text here
            </p>
        </div>
    </div>
</section>
