<section class="row">
  <div class="col-md-12">
  <ul class="list-group" >
    <li data-ng-repeat="order in vm.orders"
       data-ui-sref="settings.viewOrder({ orderId: order._id })"
       class="list-group-item ns-list-group account">
       <div class="col-md-12 col-lg-12">
       <span class="lead">
          <span class="text-muted">Order :</span>
           <span class="text-primary"> # {{order._id | limitTo:10}}</span><br>
            <small class="text-muted" style="font-size:0.6em">
              Created : {{order.created | date:'mediumDate'}}
            </small>
       
        
       </span>
      
       <span class="pull-right"> 
        <span class="green" ng-if="order.status.name==='IN PROCESS'">
          <i class="fa fa-gift fa-2x"></i>
          <b>{{order.status.name}}</b>
        </span>
        <span class="text-purple" ng-if="order.status.name==='IN DELIVERY'">
          <i class="fa fa-truck "></i>
          <b>{{order.status.name}}</b>
        </span>
        <span class="text-muted" ng-if="order.status.name==='COMPLETED'">
          <i class="fa fa-check-circle "></i>
          <b>{{order.status.name}}</b>
        </span>
       </span>
      <h4 class="list-group-item-heading" >Total <span class="text-primary">{{order.stripe.amount/100}} GBP</span></h4>
      </div>
 <div class="clearfix"></div>    
    </li>
  </ul>
  <div class="alert alert-warning text-center " data-ng-if="vm.orders.$resolved && !vm.orders.length">
    <h4> No Orders yet, why don't you <a data-ui-sref="shop">visit our shop</a>?</h4>
  </div>
  </div>
</section>

