<section class="row" ng-controller="AddressController">
<div class="ns-page-header visible-xs" style="background-color:white"></div>

<div class="col-xs-12 col-md-6 col-md-offset-1" ng-if="!updateAddress && user.address.length>0"   data-ng-repeat="item in user.address">
    <ul class="list-group " >
        <li class="list-group-item ns-cart-header account " ng-class="{'is-updating':updateAddress}">
            <h4 class="  ns-up">
                DEFAULT DELIVERY ADDRESS
                <span class="pull-right">
                	<i class="fa fa-check green"></i> 
                </span>
            </h4>
            
            <div class="clearfix"></div> 
        </li>
         <li  class="list-group-item ns-list-group account" >

	        <div class="col-xs-12" >
	        	<div ng-class="{'is-updating':updateAddress}">
	           <p class="text-warning">{{item.fullname}}</p>
                
	           <p class="text-primary ns-p">{{item.addressLine1}}</p>
	           <p class="text-primary ns-p">{{item.addressLine2}}</p>
	           <p class="text-primary ns-p">{{item.region}}</p>
	           <p class="text-primary ns-p">{{item.city}}</p>
	           <p class="text-primary ns-up">{{item.postalCode}}</p>
	           <p class="text-primary">{{item.country}}</p>
	           </div>
	           <hr/>
	           
	        </div>
	        
	        <div class="clearfix"></div>  
	        
        </li>
        
    </ul>
</div>
<div class="col-xs-12 col-md-6 col-md-offset-1 " ng-if="user.address.length===0 || updateAddress">


<ul class="list-group ">
        <li class="list-group-item ns-cart-header account " >
            <h4 class="  ns-up">
                EDIT DELIVERY ADDRESS
                <span class="pull-right">
                    <i class="fa fa-edit green"></i> 
                </span>
            </h4>
            
            <div class="clearfix"></div> 
        </li>
         <li  class="list-group-item ns-list-group account" >

            <div class="col-xs-12" >





        
        <form name="addressForm" ng-submit="saveAddress(addressForm.$valid)" class="signin" novalidate>
            <fieldset>
                <!-- full-name input-->
                <div class="form-group has-feedback" show-errors ng-class="{'has-success':address.fullname}">
                    <label class="control-label">Name Your Address</label>
                    
                        <input ng-model="address.fullname" id="fullname" name="fullname" type="text" class="form-control"  placeholder="E.g: 'HOME ADDRESS' "
                        >
                        <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="addressForm.fullname.$valid &&addressForm.fullname.$dirty || address.fullname"></span>
                    
                </div>
                <!-- address-line1 input-->
                <div class="form-group has-feedback" show-errors 
                ng-class="{'has-success':addressForm.addressLine1.$valid,'has-error':!addressForm.addressLine1.$valid && addressForm.addressLine1.$dirty}">
                    <label class="control-label">Address Line 1</label>
                   
                    <input id="addressLine1" name="addressLine1" 
                    ng-model="address.addressLine1" ng-minlength="20" type="text"  class="form-control" placeholder="address line 1"
                      required>
                       <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="addressForm.addressLine1.$valid"></span>
                       <span class="fa fa-close form-control-feedback ns-feedback red" ng-if="!addressForm.addressLine1.$valid && addressForm.addressLine1.$dirty ||!addressForm.addressLine1.$valid && submitted"></span>
                    <div ng-messages="addressForm.addressLine1.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">address is required.</p>
                    <p class="help-block error-text" ng-message="minlength">address has to be at least 20 characters long.</p>
                    </div>
                    
                </div>
                <!-- address-line2 input-->
                <div class="form-group has-feedback" show-errors 
                ng-class="{'has-success':address.addressLine2}">
                    <label class="control-label">Address Line 2</label>
                   
                    <input id="addressLine2" name="addressLine2" 
                    ng-model="address.addressLine2"  type="text" class="form-control"  placeholder="address line 2"
                    >
                    <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="addressForm.addressLine2.$valid && addressForm.addressLine2.$dirty || address.addressLine2"></span>
                    
                     <div ng-messages="addressForm.addressLine2.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">address line 2 is required.</p>
                        <p class="help-block error-text" ng-message="minlength">address line 2  has to be at least 5 characters long.</p>
                    </div>
                </div>
                <!-- city input-->
                <div class="form-group has-feedback" show-errors 
                ng-class="{'has-success':addressForm.city.$valid,'has-error':!addressForm.city.$valid && addressForm.city.$dirty}">
                    <label class="control-label">City / Town</label>
                    <input id="city" name="city" ng-model="address.city" ng-minlength="3" type="text" placeholder="city" class="form-control" required>
                    <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="addressForm.city.$valid "></span>
                    <span class="fa fa-close form-control-feedback ns-feedback red" ng-if="!addressForm.city.$valid && addressForm.city.$dirty ||!addressForm.city.$valid && submitted"></span>
                    <div ng-messages="addressForm.city.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">city/town is required.</p>
                        <p class="help-block error-text" ng-message="minlength">city/town has to be at least 3 characters long.</p>
                    </div>
                </div>
                <!-- region input-->
                <div class="form-group has-feedback" show-errors  
                ng-class="{'has-success':addressForm.region.$valid,'has-error':!addressForm.region.$valid && addressForm.region.$dirty}">
                    <label class="control-label">State / Province / Region</label>
                        <input id="region" name="region" type="text" placeholder="state / province / region"
                        class="form-control" ng-model="address.region" ng-minlength="3" required>
                        <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="addressForm.region.$valid"></span>
                        <span class="fa fa-close form-control-feedback ns-feedback red" ng-if="!addressForm.region.$valid && addressForm.region.$dirty ||!addressForm.region.$valid && submitted"></span>
                        <div ng-messages="addressForm.region.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">state / province / region is required.</p>
                            <p class="help-block error-text" ng-message="minlength">state / province / region has to be at least 3 characters long.</p>
                        </div>
                </div>
                <!-- postal-code input-->
                <div class="form-group  has-feedback" show-errors 
                ng-class="{'has-success':addressForm.postalCode.$valid,'has-error':!addressForm.postalCode.$valid && addressForm.postalCode.$dirty}">
                    <label class="control-label">U.K Postal Code</label>
                    <input id="postalCode" name="postalCode" type="text" 
                    ng-pattern="/[A-Z]{1,2}[0-9][0-9A-Z]?\s?[0-9][A-Z]{2}/gi"
                    ng-model="address.postalCode" placeholder="zip or postal code"
                    class="form-control" required>
                    <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="addressForm.postalCode.$valid"></span>
                     <span class="fa fa-close form-control-feedback ns-feedback red" ng-if="!addressForm.postalCode.$valid && addressForm.postalCode.$dirty ||!addressForm.postalCode.$valid && submitted"></span>
                    <p class="help-block"></p>
                    <div ng-messages="addressForm.postalCode.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">U.K postal code is required.</p>
                        <p class="help-block error-text" ng-message="pattern">enter a valid postal code.</p>
                    </div>
                </div>
                <!-- country select -->
                <div class="form-group">
                    <label class="control-label">Country</label>
                   
                    <input id="country" name="country" type="text" placeholder="United Kingdom" ng-model="address.country"
                        class="form-control" ng-disabled="true"/>
                </div>

              <!--   <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                        this address is also my billing address
                  </label>
                </div>
 -->
                 <div class="text-center form-group">
                  <button type="submit" class="btn btn-primary btn-block">Save Address</button>
                </div>
            </fieldset>
        </form>
        </div>
          <div class="clearfix"></div>  
        </li>
        </ul>

    </div>


</div>
<div class="col-md-4 col-md-offset-1 col-xs-12 " ng-if="user.address.length>0">
    <a href class="btn btn-block btn-lg btn-warning" ng-click="toggleUpdateAddress()">
    <i class="fa fa-edit"></i> 
    <span ng-if="updateAddress">CANCEL</span>
    EDIT
    </a>
    <br/>
    <a href class="btn btn-block btn-lg btn-danger ns-remove " ng-click="removeAddress()"><i class="fa fa-trash"></i> REMOVE</a>
              
    <br/>
    <a class="btn btn-block btn-lg btn-default ns-shop-btn" ui-sref="checkout.step1" >GO TO CHECKOUT</a>
  </div>    
<p class="clearfix" ng-if="updateAddress">&nbsp;</p>



</div>

<div class="clearfix visible-xs">&nbsp;</div> 

</section>













