<section class="" ng-controller="SettingsController" 
 style="min-height:100%;background-color:#e8ecf0;padding-top:1em;">
  
   <div class="card hovercard">
        <div class="cardheader">
        &nbsp;
        </div>
        <div class="avatar text-center">
            <img alt="" src="{{user.profileImageURL}}">
        </div>
        <div class="info">
            <div class="title text-center">
                <a target="_blank" href="#">{{user.displayName}}</a>
            </div>

            <div class="col-lg-8 col-lg-offset-2" >
             <div class="row">
              <div class="">
                <h1 class="my-account-title text-center">{{$state.current.title}}</h1>
                <hr>
              </div>
              <nav class="col-sm-3 col-md-3 col-lg-3">
                  <account-menu></account-menu>
               </nav>
              <div class="col-sm-9 col-md-8 col-lg-9 settings-view">
                <div ui-view style="min-height:100%"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            </div>

                  </div>
                  
              </div>


   
  
  <div class="clearfix"></div>
</section>
