    <section ng-controller="DashboardController">
    
    

    <div class="col-md-4">
        <ul class="list-group text-center" >
            <li  class="list-group-item " >
                <a class="alert  ns-wish" href data-ui-sref="settings.wishlist">
                    <h4><i class="fa fa-heart ns-wish fa-2x"></i><br>Wish List</h4>
                    <h5>{{user.wishlist.length}} item(s).</h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">     
        <ul class="list-group text-center" >
            <li  class="list-group-item " >
                <a class="alert " href data-ui-sref="settings.watchlist">
                    <h4><i class="fa fa-eye fa-2x"></i><br>Watch List</h4>
                    <h5>{{user.watchlist.length}} item(s).</h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">     
        <ul class="list-group text-center" >
            <li  class="list-group-item " >
                <a class="alert  text-warning" href data-ui-sref="cart.view({cartId:user.cart})">
                    <h4><i class="fa fa-shopping-bag fa-2x"></i><br>Shopping Bag</h4>
                    <h5>{{totalProducts}} item(s).</h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">     
        <ul class="list-group text-center" >
            <li  class="list-group-item" >
                <a class="alert green" href data-ui-sref="settings.wishlist">
                    <h4><i class="fa fa-gift fa-2x"></i><br>Orders</h4>
                    <h5>0 item(s).</h5>
                </a>
            </li>
        </ul>
    </div>
</section>


