<section class="row" ng-controller="WishListController">
    <div class="col-md-12">
      <ul class="list-group ">
    
  
    	<li data-ng-repeat="item in items" class="list-group-item ns-list-group account" ng-class="{'isFirst':$first}">
       	<div class="col-xs-4 col-md-1">
          <a href data-ui-sref="products.view({ productId: item._id })" popover-append-to-body="true" popover-title="{{item.name}}" popover-placement="bottom" uib-popover="{{item.description}}" popover-trigger="mouseenter" >
          <img ng-src="{{item.image}}" alt="" class="ns-pic"></a>
        </div>

        <div class="col-xs-8 col-md-5">
          <h4>
            <p class="text-primary ns-up"  >{{item.name}}</p>
            <p class="text-info hidden-xs">
                 {{item.info}}<br/>
            </p> 
             
           </h4>
        </div>
        <div class="clearfix visible-xs"></div> 
        <div class="col-xs-8 col-md-4  ns-pd-top-20">
            
          <div class="btn-group" ng-if="item.stock>0">
              <a href="#" class="btn btn-default" ng-disabled="item.stock===0">{{item.price.currency}} {{item.price.value}}</a>
              <a href="#" class="btn btn-primary" ng-disabled="item.stock===0"  ng-click="vm.addToCart(item,1)">
              <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to Cart</a>
          </div>
          <div class="btn-group" ng-if="item.stock===0">
              <a href="#" class="btn btn-default " ng-disabled="item.stock===0"><i class="fa fa-exclamation-circle"></i> OUT OF STOCK</a>
          </div>

        </div>
        <div class="col-xs-4 col-md-2 ns-pd-top-20" >
          <div class="btn-group" >
            <a href="#" class="btn btn-default red" ng-click="removeWishList(item._id)""><i class="fa fa-trash"></i> REMOVE</a>
          </div>  
        </div>
        <div class="clearfix"></div> 	
        </li>
      </ul>
    </div>
</section>

