<section class="row" ng-controller="WatchListController">
    <div class="ns-page-header visible-xs" style="background-color:white"></div>
    <div class="col-md-12">
    <ul class="list-group ">
        
    

        <li data-ng-repeat="item in items" class="list-group-item ns-list-group account" ng-class="{'isFirst':$first}">
        <div class="col-xs-6 col-md-1">
            <a href data-ui-sref="products.view({ productId: item._id })"> <img ng-src="{{item.image}}" alt="" class="ns-pic"></a>
        </div>
        <div class="col-xs-6 col-md-4">
           <p class="text-primary ns-up">{{item.name}}</p>
           <p class="text-primary">{{item.info}}</p>
        </div>
        <div class="clearfix visible-xs"></div> 
        <div class="col-xs-6  col-md-4 ns-pd-top-20" >
            <div class="btn-group" ng-if="item.stock>0">
              <a href="#" class="btn btn-default" ng-disabled="item.stock===0">{{item.price.currency}} {{item.price.value}}</a>
              <a href="#" class="btn btn-primary" ng-disabled="item.stock===0"  ng-click="vm.addToCart(item,1)">
              <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to Cart</a>
          </div>
          <div class="btn-group" ng-if="item.stock===0">
              <a href="#" class="btn btn-default" ng-disabled="item.stock===0"><i class="fa fa-exclamation-circle"></i> OUT OF STOCK</a>
          </div>
        </div>
        <div class="col-xs-6 col-md-2 ns-pd-top-20" >
        <div class="btn-group" ng-if="item.stock===0">
          <a href="#" class="btn btn-default red" ng-click="removeWatchList(item._id)""><i class="fa fa-trash"></i> REMOVE</a>
        </div>
           <!--  <span>
                <i class="fa fa-trash red "  ng-click="removeWatchList(item._id)"></i> remove
            </span> -->
        </div>
        <div class="clearfix"></div>    
        </li>
        <li class="list-group-item ns-list-group account">
            <p class=" text-center">
                You will receive an email when the item(s) become available
            </p>
        </li>
        </ul>
    </div>
    
    <small></small>
</section>

