<section>


    <div class="row">
        <div class="col-md-8 col-md-offset-1" style="border:1px solid #fff;background-color:white">  
            
            <div class="col-md-12">
                <h2 class="text-muted">
                    <a href class="text-muted">    
                       <span class="text-primary"> Order number:</span> #{{vm.order._id | limitTo:10}}
                    </a>
                </h2>
                <p class="lead"> 
                    <span class="green" ng-if="vm.order.status.name==='IN PROCESS'">
                        <i class="fa fa-gift "></i>
                        <b>{{vm.order.status.name}}</b>
                    </span>
                    <span class="text-purple" ng-if="vm.order.status.name==='IN DELIVERY'">
                        <i class="fa fa-truck "></i>
                        <b>{{vm.order.status.name}}</b>
                    </span>
                    <span class="text-muted" ng-if="vm.order.status.name==='COMPLETED'">
                        <i class="fa fa-check-circle "></i>
                        <b>{{vm.order.status.name}}</b>
                    </span>
                </p>
                <p class="green">{{vm.order.status.description}}</p>
                <hr/>
            </div>
              
       
            <div class="col-md-12">
                <address>
                    <strong>Shipping Address:</strong><br>
                    <span style="text-transform:capitalize"> {{vm.authentication.user.displayName}}</span><br>
                    {{vm.order.shippingAddress[0].addressLine1}}<br>
                    {{vm.order.shippingAddress[0].addressLine2}}<br>
                    {{vm.order.shippingAddress[0].region}}<br>
                    {{vm.order.shippingAddress[0].city}}<br>
                    {{vm.order.shippingAddress[0].postalCode}}<br>
                    {{vm.order.shippingAddress[0].country}}
                </address>
            </div>
            
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                                                        <tr>
                                    <td><strong>Product Name</strong></td>
                                    <td class="text-right"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Price</strong></td>
                                                                
                                                        </tr>
                        </thead>
                        <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            <tr ng-repeat="item in vm.cart.products track by $index">
                            <td >{{item.product.name}}</td>
                            <td class="text-right">{{item.qty}} </td>
                            <td class="text-right">£{{item.product.price.value}}</td>
                                
                            </tr>
                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line text-right"><strong>VAT - 12%</strong></td>
                                <td class="thick-line text-right">incl.</td>
                            </tr>
                            <tr>
                                <td class="no-line"></td>
                                
                                <td class="no-line text-right"><strong>Shipping</strong></td>
                                <td class="no-line text-right">incl.</td>
                            </tr>
                            <tr style="font-size:1.5em">
                                <td class="no-line"></td>
                                <td class="no-line text-right" ><strong>Total</strong></td>
                                <td class="no-line text-right">£{{vm.cart.totalPrice || '0'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-right text-muted">
                        <small>
                            order created : {{vm.order.created | date:'medium'}}
                        </small>
                    </p>
                </div>
            </div>
            <!-- </div> -->
        </div>
        <div class="col-md-3">

            <a class="btn btn-block btn-lg btn-success " > <i class="fa fa-print" aria-hidden="true"></i> PRINT INVOICE</a>
            <a class="btn btn-block btn-lg btn-warning " > <i class="fa fa-download" aria-hidden="true"></i> DOWNLOAD</a>
            
        </div>
    </div>



    <!-- <div class="page-header">
        <h1 data-ng-bind="vm.order.name"></h1>
    </div>
    <div class="pull-right"
             data-ng-show="vm.order.isCurrentUserOwner">
        <a class="btn btn-primary"
             data-ui-sref="orders.edit({ orderId: vm.order._id })">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="vm.order.created | date:'mediumDate'"></span>
            by
            <span data-ng-if="vm.order.user"
                        data-ng-bind="vm.order.user.displayName"></span>
            <span data-ng-if="!vm.order.user">Deleted User</span>
        </em>
    </small>
    <p class="lead" data-ng-bind="vm.order.content"></p> -->
</section>

