<div class="shop-header" ns-parallax pattern="image" speed="6" >
		<div class="carousel-caption" style="bottom:10px">
			<h1 ng-if="logo">
				
  	 				<span class="nic big">Nicholas & Sons</span>
 
			</h1>
			<h1 ng-if="claim" style="font-size:6em;font-weight:600">
				{{claim}}
			</h1>
		</div>
</div> 	

