<div ng-controller="AuthenticationController" class="">
 
 <nav class="navbar navbar-default" style="background-color:transparent;border:none">
  <div class="container">
    <div class="navbar-header">
    <a class="navbar-brand nic visible-xs" href="/" style="color:#000;padding-left:25px;">
         Nicholas & Sons</a>
      <a class="navbar-brand nic big hidden-xs" href="/" style="color:#000">
         Nicholas & Sons</a>
    
    <div class="pull-right visible-xs">
        <div class="text-right forgot-password">
          <a ui-sref="authentication.signin" class="navbar-brand " style="padding-right:25px;">Already registered?</a>
        </div>
    </div>
    </div>

    <div class="pull-right visible-lg">
        <div class="text-right forgot-password">
          <a ui-sref="authentication.signin" class="navbar-brand ">Already registered?</a>
        </div>
    </div>


  </div>
</nav>


  

  <div class="col-xs-12 col-md-offset-4 col-md-4">

    <form name="userForm" ng-submit="signup(userForm.$valid)" class="signup" novalidate >
      
     <h1 class="text-muted">Welcome! Please sign up </h1>
     <br/>
      <fieldset>
        <div class="form-group has-feedback" show-errors  
        ng-class="{'has-success':userForm.firstName.$valid,'has-error':!userForm.firstName.$valid && userForm.firstName.$dirty}">
          <label class="control-label" for="firstName">First Name<sup>*</sup></label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.firstName.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.firstName.$valid && userForm.firstName.$dirty ||!userForm.firstName.$valid && submitted"></span>
          
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group has-feedback" show-errors  
        ng-class="{'has-success':userForm.lastName.$valid,'has-error':!userForm.lastName.$valid && userForm.lastName.$dirty}">
          <label class="control-label" for="lastName">Last Name<sup>*</sup></label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.lastName.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.lastName.$valid && userForm.lastName.$dirty ||!userForm.lastName.$valid && submitted"></span>
          
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block  error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        
        <div class="form-group has-feedback" show-errors  
        ng-class="{'has-success':userForm.email.$valid,'has-error':!userForm.email.$valid && userForm.email.$dirty}">

          <label class="control-label"  for="email">Email<sup>*</sup></label>
          <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          
          <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.email.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.email.$valid && userForm.email.$dirty ||!userForm.email.$valid && submitted"></span>

          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block  error-text" ng-message="required">Email address is required.</p>
            <p class="help-block  error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
         <div class="form-group has-feedback" show-errors  
        ng-class="{'has-success':userForm.username.$valid,'has-error':!userForm.username.$valid && userForm.username.$dirty}">

          <label class="control-label" for="username">Username <sup>*</sup></label>
          <input type="text" id="username" name="username" class="form-control"  ng-model="credentials.username" placeholder="Username" lowercase autocomplete required >

          <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.username.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.username.$valid && userForm.username.$dirty ||!userForm.username.$valid && submitted"></span>


          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block  error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="form-group has-feedback" show-errors  
        ng-class="{'has-success':userForm.password.$valid,'has-error':!userForm.password.$valid && userForm.password.$dirty}">

          <label class="control-label" for="password">Password<sup>*</sup></label>
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" uib-popover="{{popoverMsg}}" popover-trigger="focus" password-validator required >

            <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.password.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.password.$valid && userForm.password.$dirty ||!userForm.password.$valid && submitted"></span>



          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
                <p class="help-block" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
              </div>
          </div>
        </div>
         <div class="form-group" >
          <label> By click on the button below, you confirm to agree to the <a href="/terms-and-conditions">Terms & Conditions</a></label>
          
        </div>
        <div class="form-group" ng-show="!userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-lg btn-default ns-shop-btn btn-block">SIGN UP</button>
        </div>
         
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
      <h2 class="text-right text-muted">
        <!-- <i class="fa fa-lock " style=""></i> ssl secure -->
        <img src="/modules/core/client/img/brand/comodo.png" height="50px"/>
        </h2>
    </form>
  </div>
  


</div>
