<div ng-controller="AuthenticationController"  >
  

 <!--  <nav class="navbar navbar-default" style="background-color:transparent;border:none">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand nic big" href="/" style="color:#000">
         Nicholas & Sons</a>
      
    </div>
    <div class="pull-right">
        <div class="text-right forgot-password">
          <a class="navbar-brand " ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <div class=" forgot-password">
          <a ui-sref="authentication.signup" class="navbar-brand ">Not registered?</a>
        </div>
    </div>
  </div>
</nav>
   -->
   
 

  <div class="col-xs-12 col-md-6 col-md-offset-3">
      
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin col-xs-12 col-md-8 col-md-offset-2" novalidate autocomplete="off">
    <a class="nic big" href="/" style="color:#000;font-size:3.8em">
         Nicholas & Sons</a>
    <h1 class="text-muted">Welcome Back! </h1>
    <h4 class="text-muted">Please Log In </h4>
     <br/>
      <fieldset>
        <div class="form-group has-feedback" show-errors  
        ng-class="{'has-success':userForm.username.$valid,'has-error':!userForm.username.$valid && userForm.username.$dirty}">
          <label class="control-label" for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.username.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.username.$valid && userForm.username.$dirty ||!userForm.username.$valid && submitted"></span>
                       
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        
        <div class="form-group has-feedback" show-errors 
        ng-class="{'has-success':userForm.password.$valid,'has-error':!userForm.password.$valid && userForm.password.$dirty}">
          <label class="control-label" for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <span class="fa fa-check form-control-feedback ns-feedback green" ng-if="userForm.password.$valid"></span>
          <span class="fa fa-close form-control-feedback ns-feedback red" 
          ng-if="!userForm.password.$valid && userForm.password.$dirty ||!userForm.password.$valid && submitted"></span>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-lg btn-default ns-shop-btn btn-block">LOG IN</button>
          &nbsp; &nbsp;
         
        </div>
        <div class="text-right forgot-password text-danger">
          <a ui-sref="password.forgot">Forgot your password?</a>
        </div>
        <div class="text-right forgot-password">
          <a ui-sref="authentication.signup">Not Registered?</a>
        </div>
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>

</div>
