 <ul class="nav nav-pills nav-stacked">
    <li ui-sref-active="active">
    <a ui-sref="admin.products">Manage Products <span class="pull-right"><i class="fa fa-cubes"></i></span></a>
    </li>
    <!--<li ui-sref-active="active">
    <a ui-sref="settings.picture">Change Profile Picture <span class="pull-right"><i class="fa fa-lock"></i></span></a>
    </li>-->
    <li ui-sref-active="active">
    <a ui-sref="admin.orders">Manage Orders<span class="pull-right" ><i class="fa fa-th-list"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="admin.users">Manage Users<span class="pull-right"><i class="fa fa-users"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="admin.messages">Manage Messages<span class="pull-right"><i class="fa fa-envelope"></i></span></a>
    </li>
    <li ui-sref-active="active">
    <a ui-sref="admin.cms">Manage Content <span class="pull-right"><i class="fa fa-sliders"></i></span></a>
    </li>
    
</ul>