@font-face {
  font-family: 'SnellRoundhandScriptItalic';
  src: url('/modules/core/client/fonts/Snell/snell.eot');
  src: url('/modules/core/client/fonts/Snell/snell.eot') format('embedded-opentype'), url('/modules/core/client/fonts/Snell/snell.woff') format('woff'), url('/modules/core/client/fonts/Snell/snell.ttf') format('truetype'), url('/modules/core/client/fonts/Snell/snell.svg#SnellRoundhandScriptItalic') format('svg');
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html,
body,
ui-view {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
}
body a:hover {
  text-decoration: none;
}
.center-block {
  float: none;
  display: block;
  margin: 0 auto;
  /* margin-left: auto; margin-right: auto; */
}
.content {
  margin-top: 50px;
}
.ns-content {
  min-height: 100%;
  margin-top: 65px!important;
  display: block;
}
.ns-content-settings {
  height: 100%;
  margin-top: 150px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.img-thumbnail {
  border-radius: 0;
}
code {
  border-radius: 0;
}
pre {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
  box-shadow: none;
  webkit-box-shadow: none;
}
.form-control:focus {
  border-color: gray;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.input-sm {
  border-radius: 0;
}
.input-lg {
  border-radius: 0;
}
.btn {
  border-radius: 0;
}
.btn-lg {
  border-radius: 0;
}
.btn-sm,
.btn-xs {
  border-radius: 0;
}
.dropdown-menu {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-group-xs > .btn {
  border-radius: 0;
}
.btn-group-sm > .btn {
  border-radius: 0;
}
.btn-group-lg > .btn {
  border-radius: 0;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 0;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  border-radius: 0;
}
.input-group-addon {
  border-radius: 0;
}
.input-group-addon.input-sm {
  border-radius: 0;
}
.input-group-addon.input-lg {
  border-radius: 0;
}
.nav-tabs > li > a {
  border-radius: 0;
}
.nav-pills > li > a {
  border-radius: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-toggle .icon-bar {
  border-radius: 0;
}
.breadcrumb {
  border-radius: 0;
}
.pagination {
  border-radius: 0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pager li > a,
.pager li > span {
  border-radius: 0;
}
.label {
  border-radius: 0;
}
.badge {
  border-radius: 0;
}
.container .jumbotron {
  border-radius: 0;
}
.thumbnail {
  border-radius: 0;
  border: 1px solid transparent;
}
.alert {
  border-radius: 0;
}
.progress {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress-bar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.list-group-sub .list-group-item:focus {
  background: transparent !important;
}
.panel {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel-footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel-group .panel {
  border-radius: 0;
}
.well {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.well-lg {
  border-radius: 0;
}
.well-sm {
  border-radius: 0;
}
.close {
  text-shadow: none;
}
.modal-content {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.tooltip-inner {
  border-radius: 0;
}
.popover {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.popover-title {
  border-radius: 0;
}
.carousel-control {
  text-shadow: none;
}
.carousel-indicators li {
  border-radius: 0;
}
.carousel-caption {
  text-shadow: none;
}
.btn:active,
.btn:focus,
a:active,
a:focus {
  outline: 0;
}
.no-border-right {
  border-right: 0 !important;
}
.no-border-left {
  border-left: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.hero-spacer {
  margin-top: 50px;
}
.hero-feature {
  margin-bottom: 30px;
}
select {
  border: 1px solid #ddd;
  padding: 3px;
}
.green {
  color: green;
}
.red {
  color: red;
}
.btn-primary {
  background-color: #4c7ed3 !important;
}
.text-purple * {
  color: #a330b5;
}
.text-orange * {
  color: #FFA500;
}
.text-purple:hover {
  text-decoration: none;
}
.text-orange:hover {
  text-decoration: none;
}
.nic {
  font-family: 'SnellRoundhandScriptItalic';
  font-size: 24px;
}
.nic.big {
  font-size: 2em;
}
.link-p {
  display: block;
  min-height: 250px;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.first-p {
  min-height: 169px;
}
.def-img {
  position: inherit!important;
  width: auto!important;
  height: inherit!important;
  max-width: inherit!important;
  max-height: inherit!important;
  left: inherit!important;
  top: inherit!important;
}
.prod-caption {
  background: #fff;
}
.prod-caption h4 {
  font-size: 0.9em;
  overflow: hidden;
}
span.title {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  color: #4c7ed3;
  text-transform: uppercase;
}
h1.title {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.4em;
  color: #000;
  text-transform: uppercase;
}
.thumbnail:hover {
  border: 1px solid transpartent;
}
.catalogue-pagination {
  margin: 0;
  margin-bottom: 40px;
}
.catalogue-pagination li.disabled:hover a {
  cursor: default;
}
.catalogue-pagination li a {
  -ms-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -webkit-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  padding: 6px 10px;
}
.back-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
  background: #384248;
  color: #fff;
  height: 23px;
}
.back-top:hover,
.back-top:focus,
.back-top:active {
  color: #fff;
}
.back-top:hover {
  -ms-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -webkit-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background: #263238;
}
.tbl-cart thead {
  background: #f8f8f8;
}
.tbl-cart .td-qty {
  white-space: normal !important;
  width: 130px;
}
.btns-cart .btn {
  margin-right: 3px;
  margin-bottom: 1px;
}
.tbl-checkout tbody tr td:nth-child(odd) {
  background: #f8f8f8;
}
.input-qty-detail .bootstrap-touchspin {
  float: left;
  margin-right: 5px;
  width: 130px;
}
.product-thumb-image {
  padding: 2px;
}
.product-thumb-image-ns {
  padding: 2px ;
  width: 80px;
}
.product-main-image,
.product-thumb-image .thumbnail {
  margin-bottom: 0;
}
.product-main-image {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.product-main-image-container {
  position: relative;
}
.product-loader {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  width: 60px;
  height: 9px;
}
.product-short-detail label {
  font-weight: normal;
}
.product-short-detail .col-xs-8:before {
  margin-right: 3px;
  content: ':';
}
.the-list {
  float: left;
  margin: 10px 0;
  width: 100%;
}
.the-list h3 {
  margin: 0;
}
.the-list select {
  display: inline;
  /*width: auto*/
}
.input-qty-detail .bootstrap-touchspin {
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
  width: 130px;
}
.add-to-detail a {
  color: #333;
  font-size: 12px;
}
.product-detail-tab .nav-tabs a:focus,
.product-detail-tab .nav-tabs a:active {
  outline: 0;
}
.product-detail-tab .well {
  border-top: 0;
  background: #fff;
}
#detail table tr td:first-child,
.comparison tbody tr td:first-child,
.compare-product {
  background: #f8f8f8;
}
.comparison {
  text-align: center;
}
.comparison tbody tr td:first-child {
  text-align: left;
}
.product-rating {
  margin-top: 5px;
  color: #FFCC00;
  font-size: 12px;
}
.media a.pull-left:hover {
  text-decoration: none;
}
#review .media {
  padding-bottom: 10px;
}
.tbl-cart .td-qty {
  width: 130px;
}
.tbl-cart label {
  font-weight: inherit;
}
.tbl-cart thead {
  background: #f8f8f8;
}
.login-form {
  max-width: 380px;
  margin-top: 10px;
}
.login-form .panel {
  border: 1px solid #ddd;
  background-color: #fff;
}
.btn-login-social {
  width: 30px;
}
@media (min-width: 992px) {
  .product-detail {
    float: right;
  }
}
.white-container {
  position: relative;
  padding: 15px;
  background-color: #fff;
}
.list-group-submenu {
  margin-left: 20px;
}
.panel-cat {
  border: 0;
}
.panel-cat > a {
  background: #f5f5f5;
}
.panel-cat i.fa-caret-down {
  margin-left: 10px;
}
.panel-cat .list-group-sub > a {
  padding-left: 25px;
}
.panel-cat .list-group-sub a:last-child {
  border-bottom: 0;
}
.panel-cat .list-group-sub:last-child a:last-child {
  border-bottom: 1px solid #ddd;
}
.zoomed {
  margin-left: 4em;
}
.original {
  position: relative;
  overflow: hidden;
}
.zoomed {
  position: absolute;
  left: 70%;
  top: 10em;
  overflow: hidden;
  z-index: 999;
}
.original img {
  height: auto;
  width: 100%;
}
.zoomed img {
  height: 400px;
  position: relative;
}
.mark {
  opacity: .3;
  border: 6px dotted #fff;
  background: #eee;
}
.hide {
  visibility: hidden;
}
.navbar {
  background: #fff;
  border-color: #f1f1f1;
}
.navbar .ns-nav {
  background-color: #F5F5F5;
}
.navbar .well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
  padding-top: 20px;
  border: 0;
  background: transparent;
}
.navbar .btn-group-cart,
.navbar .btn-group-cart .btn {
  width: 100%;
}
.navbar .btn-group-cart .btn {
  text-align: center;
}
.navbar .btn-group-cart .icon-cart {
  margin-right: 5px;
}
header {
  padding-top: 10px;
  background: #f1f1f1;
}
header .well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  padding: 0;
  padding-top: 20px;
  border: 0;
  background: transparent;
}
header .logo {
  padding: 0;
}
header .logo a {
  color: #333;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
}
header .logo a span {
  color: #428bca;
}
header .logo a:hover {
  text-decoration: none;
}
.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}
.input-search {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.navbar li a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #384248;
  -ms-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -webkit-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
}
.navbar li a:hover,
.navbar li a.active {
  color: #ffffff!important;
  background-color: #4c7ed3!important;
}
.navbar li.nav-dropdown .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 768px) {
  .navbar li.nav-dropdown ul li a {
    font-family: Arial;
    font-size: 15px;
    color: #333!important;
    text-transform: inherit;
  }
  .navbar li.nav-dropdown ul li a:hover {
    background-color: #f1f1f1!important;
  }
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #4c7ed3 !important;
}
.user:hover > .dropdown-menu {
  display: block;
}
/*--middle--*/
.content-middle {
  margin-top: 4em;
  background: url('/modules/core/client/img/assets/home.jpg') no-repeat center;
  height: 190px ;
  display: block;
  background-size: cover;
}
.animate-show,
.animate-hide {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -ms-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
}
.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}
.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
@media (max-width: 420px) {
  .mid-content {
    width: 70%;
  }
}
.footer {
  padding-top: 2em;
  display: inline-block;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  color: #eee;
  background: #384248;
}
.footer h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}
.footer .column ul {
  font-size: 13px;
  list-style: none;
  padding: 0;
  line-height: 22px;
}
.footer .column ul a {
  color: #c3c6c8;
}
.footer .copyright {
  padding: 10px;
  color: #ddd;
  background: #263238;
}
.footer .comodo {
  padding: 10px;
  color: #333;
  background: #f5f5f5;
}
